[2016-11-03 14:45] mxstbr opened #1 "Initial list"
Below is a list of helpers we think would be useful to have in this toolset. A few notes before diving in and implementing them:

- We are aiming for 100% test coverage, so extensively test the utils you write
- Add helpful error messages and type checking based on the util @bhough will write in #4
- These helpers should be method agnostic, i.e. not `styled-components` specific. This means they ne

[2016-11-03 15:01] mxstbr opened #2 "Testing setup"
Each utility should have some tests verifying that for certain inputs the expected outputs are returned. We should also have CI to verify those tests pass for each PR.

[2016-11-03 15:03] mxstbr opened #3 "Setup semantic-release"
Setting up `semantic-release` is perfect for this library, because it means we're very strict about SemVer and don't have to think about it. Might also have to setup `commitizen`?

[2016-11-03 15:10] bhough opened #4 "[V2] Error and Warning Handlers"
Given that this is acting as a CSS compiler of sorts, each module should have error/warning handling that informs the user if they have provided the invalid values/syntax/etc... These should only be use in development and will be stripped out by webpack for production.

In my experiments I've been loosely following the formatting used in [ELM](http://elm-lang.org/blog/compiler-errors-for-humans).

[2016-11-03 15:15] mxstbr commented on #4
I like having very clear error messages, that could prove important. Let's see what we can do in our build system to strip those out in production but have them in dev!

[2016-11-03 15:20] bhough opened #5 "Generated Documentation"
Since complete documentation will be important, what are thoughts on using something like [JSDOC](http://usejsdoc.org) to generate docs for us?

[2016-11-03 15:32] mxstbr commented on #5
Sounds very good to me. Let's automate as much of this lib as possible!

[2016-11-03 15:53] mxstbr commented on #3
Done in #7, including `commitizen`!

[2016-11-03 15:53] #3 closed

[2016-11-03 16:19] #2 closed

[2016-11-03 17:20] bhough opened #9 "Implement Babel with ES6+"
Would like to implement Babel so we can just write this all in ES6+ if that works for you @mxstbr .

[2016-11-03 17:40] mxstbr commented on #9
Yes please do so!

[2016-11-03 17:41] mxstbr commented on #9
Also, let's copy the rollup build process we have for the main `styled-components` repo for making UMD builds

[2016-11-03 17:46] bhough commented on #9
Will do!

[2016-11-04 01:52] ericclemmons commented on #5
We've had this discussion today @ work and went with https://github.com/documentationjs/documentation, due to it's Flow & Babel support.

[2016-11-04 01:53] ericclemmons commented on #4
Setting the bar for error messages would be a huge differentiator for this project.

[2016-11-04 01:56] ericclemmons commented on #1
What'd be helpful (for me) is editing the list, as exhaustive as it is, with suggested usage examples so that way individuals can tackle & submit PRs more effectively.

Or, if we want to do the TDD thing, the first step would be tests for the use cases that someone else would implement :)

I think a lot of these would be handled by wrapping [color](https://www.npmjs.com/package/color), but likely

[2016-11-04 07:17] mxstbr commented on #1
Good point, added an example to the OC! Right now we're still setting up and figuring out how we want to do this, so I don't think implementing a helper right now is a good idea?

[2016-11-04 07:22] mxstbr opened #10 "Name"
We need a better name.

While the meaning of the word `cynosure` is amazing, two hours after I first found the name I couldn't even remember it – not a good sign.

Any ideas?

`pedicure` isn't taken on npm yet, would fit with our whole 💅-thing and has something to do with styling, but it does have a slightly dirty connotation maybe? `import { clearfix } from 'pedicure'`

/cc @styled-components/des

[2016-11-04 07:55] okonet commented on #10
What about something with `styled-` prefix?

styled-lib
styled-toolbox
styled-helpers

Not super cool but could serve the purpose better and has a strong cannotation with styled-components.

[2016-11-04 07:59] mxstbr commented on #10
No, this library isn't styled-components specific at all, that's kind of the point. 😊

We'll get other css-in-js method authors involved as soon as we have a good repo setup and name, but essentially nothing in this library has to be styled-components specific. We are building all these amazing helpers everybody needs, so let's get everybody involved!

[2016-11-04 08:13] okonet commented on #10
I've just checked the Latin name for the small 🐻 and it's called „Ursa minor“. What if we just take the Ursa part?

`import { clearfix } from "ursa"`

[2016-11-04 08:31] mxstbr commented on #10
Already taken on npm :confused:

[2016-11-07 01:33] ericclemmons commented on #10
I recommended "polish" (since :nailcare: is the emoji) or some variation on the original repo.

[2016-11-07 01:37] cdonohue commented on #10
Looks like `polish` is taken on `npm`. Maybe prefix it like `style-polish`?

[2016-11-07 01:39] geelen commented on #10
`polished` isn't taken. It's a much subtler connection to `styled-components` in that it's just the past tense that ties them together. Also, it doesn't clash with 🇵🇱

I vote `polished`

[code]

LGTM 👍

[2016-11-07 01:41] cdonohue commented on #10
I like that @geelen! Very nice!

[2016-11-07 06:43] mxstbr commented on #10
Lovely! Renaming all the things!

[2016-11-07 07:11] okonet commented on #10
LGTM too! Now we only need to find a symbol that represents it 🤔

[2016-11-07 07:14] mxstbr commented on #10
Since those helpers will mostly be used within interpolations:

[code]

I wouldn't mind reusing 💅, except with interpolation syntax `${}` around it:

`${💅}`

[2016-11-07 08:28] #10 closed

[2016-11-07 18:04] #9 closed

[2016-11-07 22:38] ericclemmons commented on #10
How 'bout `✨` for `polished`?

[2016-11-08 07:25] mxstbr commented on #10
I love that @ericclemmons!

${✨}

What do you think @okonet?

[2016-11-08 09:17] okonet commented on #10
![2016-11-08 at 10 17](https://cloud.githubusercontent.com/assets/11071/20093333/916494dc-a59c-11e6-9ef6-2c08c7c13782.png)

Thoughts?

[2016-11-08 10:00] mxstbr commented on #10
I like it! 😍

[2016-11-08 15:43] ericclemmons commented on #4
@bhough Is there a util that structures output like this already, or something we'd invent?

The last one I looked at was:

I _believe_ we'd be able to throw an object that contained fields like `message` (typical `Error` property) and `hint` that could be leveraged for special output.

[2016-11-08 15:52] ericclemmons commented on #1
Fair enough.  I know we've been creating ad-hoc versions of these internally, but it seems that the majority of the color-related functions could be solved by recommending/supporting the stringification of objects from libs like `color` & `chroma.js`:

That leaves "mixins" as the only one not really answered here, which I think warrants solving within this project.  The others can be referenced vi

[2016-11-08 16:22] bhough commented on #1
@ericclemmons what are some examples of mixins we are missing from this? We are purposely excluding ones that only return prefixes as most CSS in JS solutions included prefixers built in. I also don't believe we need to include the concept of mixin creation as you see in SASS/LESS as in JS those are just normal functions.

[2016-11-08 16:33] ericclemmons commented on #1
Frankly, I've found I'm mostly lacking a good `reset` / `normalize` & something akin to:

When testing our React components with this across browsers & sites, there's been a lot of "bleed-through" of parent styles & browser inconsistencies that had us like, "Wait, I thought this was a solved problem?"

We're so used to these tools leveling the browser playing field.

[2016-11-08 16:39] ericclemmons commented on #1
Wait a tick, shouldn't we all just be using @kyleamathews' http://kyleamathews.github.io/typography.js/!?

[2016-11-09 13:19] mxstbr commented on #4
Reusing some common util would be great for this, or writing our own in a separate package!

[2016-11-09 13:47] mxstbr commented on #1
I would like all of these utils to live under a single package with the same API for all of those, like Bourbon does for Sass.

Having to search for all of those packages individually and having to learn their complete different APIs seems very backwards for me, and is something that (as we've noticed in our issue tracker) not many people do, even though that's their reason for not switching to st

[2016-11-09 15:32] bhough opened #14 "Integrate JSDoc plugin for parsing working examples from tests"
We will create a JSDoc plugin that will parse out `@tests` comments to pull working examples from tests and expected output from Jest snapshots. This will be leveraged in our document generation.

[2016-11-09 15:40] bhough commented on #4
I do like `pretty-error`'s formatting. I'm starting on this issue next, so I will see if it will work with the verbose errors we want to display, if not I like the idea of creating our own @mxstbr.

One of the tricks I wanted to implement with this is to remove this error/warning functionality when the package is built for prod. I imagine that while useful for debugging during development, it woul

[2016-11-09 16:15] mxstbr commented on #4
Yeah that sounds very reasonable to me!

[2016-11-09 16:56] ericclemmons commented on #1
@mxstbr Sorry, let me clarify:

- Of course it would be ideal for `polished` to "own" the API for these utils.  **However**, until the solution exists, a bit of documentation could go a long way to answer users' needs instead of them _writing off this project because it doesn't have a built-in solution yet_.
- We agree that the intent is _not_ to rebuild `color` or `chroma.js` ourselves, but to wr

[2016-11-09 17:40] KyleAMathews commented on #1
@ericclemmons you're underselling typography.js a bit :-) The "themes" aren't the point, they're a byproduct. One way of viewing it is as a global styles reset with a high-level API focused on typographic design. For my projects I put all global styles in Typography.js and then component styles in components and this combo works really well together.

Anyways, a Lodash for css-in-js sounds freakin

[2016-11-09 19:15] mxstbr commented on #1
Ah, now I get what you're saying @ericclemmons. Yeah, I totally agree with that, though this project isn't announced/official yet and probably won't be until we have all utils of the initial list finished. 👍

[2016-11-10 17:41] KyleAMathews commented on #1
A utility for link styles would be great — text-underline, box-shadow, border-bottom, and the cool effect where descenders cover the link — https://eager.io/blog/smarter-link-underlines/

[2016-11-10 17:43] KyleAMathews commented on #1
And on converting between css size units — I wrote this (used in Typography.js) https://github.com/KyleAMathews/convert-css-length

[2016-11-10 17:58] mxstbr commented on #1
Coffeescript 🙈

Just kidding, looks great! Let's rewrite it in ES6 and export it from `polished`!

[2016-11-10 18:01] KyleAMathews commented on #1
Haha :-)

Sounds great! Would love to move things here!
On Thu, Nov 10, 2016 at 9:58 AM Max Stoiber <notifications@github.com>
wrote:

[2016-11-10 18:01] KyleAMathews commented on #1
I can make a PR soonish.
On Thu, Nov 10, 2016 at 10:00 AM Kyle Mathews <mathews.kyle@gmail.com>
wrote:

[2016-11-10 18:03] mxstbr commented on #1
Awesome, sounds great! We just finished setting up the automatic documentation and the testing stuff 👌

[2016-11-10 18:22] bhough commented on #14
Addressed by https://github.com/styled-components/polished/pull/15

[2016-11-10 18:23] bhough commented on #5
Addressed by https://github.com/styled-components/polished/pull/15

[2016-11-10 18:23] bhough commented on #5
Addressed by https://github.com/styled-components/polished/pull/15

[2016-11-10 18:23] #5 closed

[2016-11-16 18:25] garetmckinley commented on #1
What pseudo-selectors does `styled-components` not support? It's worked with a lot of the things I've thrown at it.

I was happy to see complex things like

[code]

functioning as expected. I don't think I could get the `:visited` selector to work though. Although I'm to sure why `:hover` would work and `:visited` would not, do they require manually written transformers or something?

I feel like

[2016-11-16 20:57] Dattaya commented on #1
It depends on what you were trying to do, `:visited` pseudo class [has some limitations](https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector#Limits_to_visited_link_styles).

[2016-11-16 21:12] garetmckinley commented on #1
Wow, I had no idea there were that many constraints on the `:visited` selector. So no chance of updating a pseudo-element of a `:visited` selector?

[2016-11-17 08:46] mxstbr commented on #1
It supports all of them, but it doesn't support them in object notation, just as a CSS string, that's what I was trying to say. Will update the comment to reflect that better!

[2016-11-17 17:08] bhough opened #21 "Docs generating duplicates"
Something about the way we are organizing things is causing JSDoc to create multiple copies of the same documentation within a module. I suspect it has something to do with how we are grouping things under modules.

[2016-11-25 05:29] guzart opened #23 "Flow types"
Planning on using flow type?

[2016-11-25 11:32] mxstbr commented on #23
Hmm, haven't thought about it. We probably won't use it in the code itself but I wouldn't mind adding flow typing for others to use!

[2016-11-25 11:40] relekang commented on #23
Why not use it in the code? I haven't looked that much in this repo yet. I have time to do a PR for this tomorrow.

[2016-11-25 12:06] mxstbr commented on #23
Because there isn't much code that we use throughout the codebase, almost every function is an external API, so flowtypes within the codebase would be pretty useless

[2016-11-25 14:38] relekang commented on #23
I think there are a few benefits:
* It is easier to keep the types up to date, we test that the types actually work if we have `@flow` our test files.
* Making sure the data in the tests is still applicable.
* It is much easier to iron out the enhancement of exporting of types in a smaller repo like this than the styled-components repo 🙂

[2016-11-25 19:12] guzart commented on #23
That is precisely why I was asking, I was about to start working on a PR when I thought it would be nice to have flow type support form the start.

[2016-11-25 20:31] mxstbr commented on #23
Okay, I'm convinced, sounds good to me! Feel free to ahead with a PR!

[2016-11-25 23:42] guzart commented on #23
Too bad I can't help with this, my flow xp is very low. Looking forward to learn from the commit tho =D

[2016-12-01 23:00] #23 closed

[2016-12-02 21:12] kitze opened #26 "Adding more mixins and helpers"
I wrote something similar a while ago and I'm using it with another css-in-js library (aphrodite).

https://github.com/kitze/stylz/tree/master/src

Do you think we can combine efforts and merge the libraries?

[2016-12-03 01:30] spen opened #27 "Defaulting & Optional Style Helpers"
I've been writing a couple of util functions while playing around with styled-components in my latest project and thought I'd share there, @mxstbr suggested starting a discussion around them here, I'd love to get some thoughts & feedback from the community :)
I'm planning to put together a gist or a pen once these are polished a little more so I'll update when/if that happens but for now, here goe

[2016-12-03 09:57] mxstbr commented on #26
Yes, please!! Have you seen #1? Which ones are missing, and which ones do you have already?

[2016-12-08 15:27] mxstbr opened #31 "Doc theme"
We definitely need a nicer theme for the documentation.

The things people will come to the docs site for are:

1. Find a list of supported helpers
2. Find out how to use a certain helper
3. Find out which options a certain helper has

The current theme a) doesn't look very inviting (needs a nicer color scheme, we can probably just take the `styled-components` one) and b) takes actual brain power

[2016-12-08 15:28] mxstbr opened #32 "Logo"
I remember @okonet showing us a screenshot of an amazing logo somewhere, could we get that exported and added to the repo somewhere in png and svg?

[2016-12-08 15:33] okonet commented on #32
You should watch your own repos :) It's been done a month ago.

Here you go https://github.com/styled-components/brand/blob/master/polished.svg

Also I've updated font for both logos so you might want to update the styled-component everywhere.

[2016-12-08 15:33] #32 closed

[2016-12-08 15:37] mxstbr commented on #32
Oh ooops, nice one! Sorry about that 🙈

[2016-12-08 15:47] mxstbr commented on #31
Something that would be really cool is to have live REPLs (maybe embedded JSBins/JSFiddles/Codepens/...) which show the helper usage on the left, and the live output what it returns on the right. That way people coming to the docs can only see an example of usage but also play around with it! 😱 💯

[2016-12-08 15:48] mxstbr opened #33 "Word Wrap misses styled-components example"
The wordWrap mixin is missing a `styled-components` example:

![screen shot 2016-12-08 at 16 47 47](https://cloud.githubusercontent.com/assets/7525670/21016510/17d8a342-bd66-11e6-9dfa-101c9fc73d12.png)

[2016-12-08 15:49] mxstbr commented on #31
We should also use a syntax highlighter that supports ES6. (the `${timingFunction}` here should be highlighted as JS code again)

![screen shot 2016-12-08 at 16 48 18](https://cloud.githubusercontent.com/assets/7525670/21016535/2bd8e7bc-bd66-11e6-8e95-649e47fec465.png)

[2016-12-08 16:14] okonet commented on #32
😎

[2016-12-08 19:47] mxstbr commented on #31
Should we switch to using [documentation.js](https://www.npmjs.com/package/documentation)? They support Flow, meaning we don't duplicate any information between the comments and the flow types which is super rad, ES7+ and has a GitHub integration – in general it just sounds much better than JSDoc!

I haven't really dug in, but what do you think @bhough? Do you reckon we should do that or is our JS

[2016-12-08 19:58] bhough commented on #31
@mxstbr I believe it works with JSDoc syntax, so superficially it should be a fairly easy transitions. How the template would hold up would be another story. However, if someone picks up this up, that would be moot.

[2016-12-09 20:14] mxstbr opened #40 "Fix hiDPI export"
Right now `index.js` says this for the export:

[code]

Should be `hiDPI`, not `hiDIPI`!

[2016-12-10 00:10] bhough commented on #21
Addressed by #37

[2016-12-10 00:10] #21 closed

[2016-12-12 07:01] nikgraf opened #44 "Color API"
#I told @mxstbr to help out here and especially with the color related API 🙌 Before starting to code I want figure out how you think about the API. There was already some discussion here https://github.com/styled-components/polished/pull/24, but there are a couple things unclear to me. This is a proposal. Please correct me if I'm wrong or you see room for improvement.

- We want everything color r

[2016-12-12 08:17] mxstbr commented on #44
I love this!!

Two discussion points:

I think we should accept the object structure too, some people prefer that and this shouldn't be the most opinionated lib – it's not like that hurts us. (also, `jss` has added support for object syntax for almost everything so people might be passing those in as variables)

I like the fp/ramda-style design! I don't think we should necessarily _sell_ it like t

[2016-12-12 10:38] geelen commented on #44
Just out of interest, would it be better to have fewer top-level functions and instead return a smarter object?

[code]

We could do this by either overloading `toString` or defining something like `toCSS()` that styled-components knows about when doing the interpolations. Feels like a better way of encapsultating the potential colour-related operations than a bunch of top-level methods.

[2016-12-12 11:18] mxstbr commented on #44
[`color`](http://npm.im/color) does this, but I'm not a fan. It's pretty tedious to use and is totally different from Bourbon/Sass (which most people will know) so the learning curve will be pretty high, which I'd like to avoid.

Having separate functions seems much more sensible to me, things can always be extracted to variables or functions.

[2016-12-12 11:29] geelen commented on #44
Hmm, what makes it tedious? Looks pretty ok to me, just the `hsl().string()` is a bit superfluous.

I don't think trying to make it like bourbon and Sass is all that important. JS is different, we have real objects with methods, not just strings.

Global functions would be great, though, if you could do this:

[code]

But yeah, IMO if you have to start by wrapping colour values in an object then y

[2016-12-12 16:34] nikgraf commented on #44
@geelen Spot on. This is in my initial proposal as well, but not good enough explained. Just updated the docs.

I would recommend: Functions like saturate accept hex strings or rgb or rgba or hsla strings e.g. '#FFDDFF' or 'rgb(22, 255, 0)'

 If I understood correctly Max would like to support both: the function and the string notation. The object notation in the end also returns a hex string e.g.

[2016-12-12 19:36] bhough commented on #44
Sorry a little late to the discussion here:

Definitely agree that we should support object notation wherever possible. The goal is to make polished work well with any css as js approach, and that will go a long way towards that.

As I think I mentioned in a previous issue, the problem with forcing colors to be instances of a color class of sorts, is that every color needs to be setup that way fro

[2016-12-12 20:31] nikgraf commented on #44
@bhough what do you think about the API I described + support for object notation? Anything to change?

[2016-12-13 11:11] mxstbr commented on #1
We should just use this instead of adding all the functions manually, 👏 @rofrishmann! https://github.com/cssinjs/css-functions

[2016-12-13 15:57] mxstbr commented on #14
Working on this, got the first part ready but this is blocking right now: https://github.com/documentationjs/documentation/issues/630

Will continue work once that's resolved!

[2016-12-14 05:43] jaydenseric commented on #44
Stick to supporting the [CSS spec for modifying colors](https://drafts.csswg.org/css-color/#modifying-colors), or else this will be much like the dark days of using mixins for vendor prefixes. You had to remember when to use them for your level of browser support, and the refactoring when Autoprefixer came on the scene was a hassle.

Ideally when browser support is good, transforming the color fun

[2016-12-15 10:30] nikgraf commented on #44
@jaydenseric awesome suggestion, didn't know about it

[2016-12-15 14:27] mxstbr commented on #31
Switched to documentation.js, inlining the default theme with #54! Would be 👌 to get some design for the homepage and the docs page

[2016-12-16 02:13] jaydenseric opened #58 "Problematic"
I don't want to dampen enthusiasm of everyone here, I respect you all very much. But I don't think the direction this project is going is a good idea.

This is the sort of project that would appeal to newer developers, the sorts who a less likely to understand tree shaking and destructured imports. Here is what a disappointing portion of users will do:

[code]

[This line](https://github.com/style

[2016-12-16 08:35] mxstbr commented on #58
I feel like there is a misunderstanding here, and I'm going to try to clear it up:

**This library isn't for you**, the power user, the CSS expert, the fully fledged veteran of the web who's been writing code for a dozen years and knows everything.

This library is for intermediate developers who have used Sass/Less/Stylus for a few years or maybe even have a legacy codebase. They want to switch t

[2016-12-16 08:35] #58 closed

[2016-12-16 11:37] bhough commented on #40
Closed by #42

[2016-12-16 11:37] #40 closed

[2016-12-16 11:38] bhough commented on #33
Closed by #42

[2016-12-16 11:38] #33 closed

[2016-12-16 14:02] bhough opened #60 "Remove bulk export"
We should remove the bulk export in order to promote users importing only the modules that they need.

[2016-12-16 16:51] nikgraf commented on #58
@mxstbr spot on

Let me emphasis once more we should not have a default export like suggestion @jaydenseric, but you know my position on this already and seems like you are on it anyway 🙂

[2016-12-16 17:25] bhough commented on #58
@nikgraf already opened an issue for this #60 and it should be addressed as part of #57

[2016-12-16 20:15] bhough commented on #60
Closed by #57

[2016-12-16 20:15] #60 closed

[2016-12-17 13:03] okonet commented on #31
I can take a look at design next week.

[2016-12-18 10:09] mxstbr commented on #1
As for lighten/darken I found this SO answer: https://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors#13542669

Anybody want to dig into that? 🙈

[2016-12-19 16:32] garetmckinley commented on #1
Oooo that looks like fun. I may give it a go tomorrow

[2017-01-06 05:09] bhough commented on #1
Removing `flexbox` and `keyframes` as they are unnecessary with a autoprefixer.

[2017-01-13 15:42] bhough opened #69 "Jest tests stall constantly on Travis"
Over the last couple of weeks the Jest tests have been practically unusable on Travis. 9 times out of 10 them time out. When they do successfully run they take 8-10 minutes to complete. This is making submitting PRs a huge pain.

[2017-01-14 15:21] mxstbr commented on #69
Any ideas what's up with that?

[2017-01-14 19:12] nikgraf commented on #69
@bhough just noticed the same, no idea why …

[2017-01-15 06:38] diegohaz opened #71 "Flow type references missing in docs"
Hi, guys,

I see some flow type references missing in docs like this `RgbaColor`.

![image](https://cloud.githubusercontent.com/assets/3068563/21960718/79cb2c90-dadb-11e6-8632-fe817b304ae3.png)

I'm playing with `Flow` and `Documentation` on another project and also faced this problem, but I finally managed to solve it.

Would a PR be welcome?

[2017-01-15 12:26] nikgraf commented on #69
@bhough I switched to Yarn and did some cleanup which resulted in a way faster build time (2min): https://travis-ci.org/styled-components/polished/builds/192093050

Kind of strange though …

[2017-01-15 12:26] #69 closed

[2017-01-15 12:27] nikgraf commented on #71
absolutely! yes please

[2017-01-15 12:28] mxstbr commented on #71
Whoa I would love to solve this! Awesome!!

[2017-01-16 09:35] davidrossjones opened #76 "Responsive Grid?"
Is a simple responsive grid (Row, Column etc) on the roadmap for styled-components/polished? Or is that best as a higher level abstraction?

Something along the lines of https://github.com/thoughtbot/neat or https://github.com/peterramsing/lost ?

Is there anything like this out there already?

[2017-01-16 15:29] #71 closed

[2017-01-16 19:15] bhough commented on #69
@mxstbr I'm ok with this, but I know initially you had discussed not using requiring use of yarn to make it more new developer friendly. Is that still the case?

[2017-01-17 08:53] mxstbr commented on #76
Already exists 😉 https://github.com/jsbros/hedron

[2017-01-17 08:53] #76 closed

[2017-01-17 08:53] mxstbr commented on #69
This is solely on CI so it runs faster, no contributors have to use yarn I don't think?

[2017-01-17 13:40] bhough commented on #69
yeah I guess as long as running the tests through npm work locally, it is ok. Though I'd really like to understand why one works on travis and the other doesn't. They are both ultimately aliasing to `jest src`. Strange that switching to yarn would somehow fix that.

[2017-01-23 21:28] nikgraf commented on #44
@jaydenseric I learned that a lot of these support percentage as a value from 0-100 if a percent sign `%` is used. We can't do this in JS, but used 0-1 instead. This also matches with the alpha definition. Do you have any other suggestion?

[2017-01-24 00:14] jaydenseric commented on #44
If it were a JS API (as opposed to parsing the CSS strings in place) that would be fine, along with separating parameters with commas. The most useful thing from the spec would be to copy function names and behaviors.

At that point, it seems better for advanced users to install their own color library of choice that allows destructured importing of just the APIs they need. Color libraries can mas

[2017-01-29 03:16] #27 closed

[2017-02-06 12:09] thillin opened #82 "Issue with react-boilerplate & retinaImage"
Hi there,

I'm trying to use retinaImage in react-boilerplate to render hi resolution copies of images throughout my project on high resolution screens. I've manually included retinaImage.js and hiDPI.js in my project, imported retinaImage.js into the appropriate component and attempted to use it with a static string and am hitting the following error:

[code]

for context, here's the relevant par

[2017-02-08 09:42] schuma7 opened #83 "Update NPM Package"
I just came across polished and would like to use it together with styled components in my current project. It seems like the NPM package hasn't been updated since November 2016 though. Are there any plans for a release anytime soon?

[2017-02-08 10:00] mxstbr commented on #83
Yep, we're hard at work towards the official release. Should be out within a few weeks!

[2017-02-08 10:00] #83 closed

[2017-02-11 06:25] bhough commented on #82
@thillin not super familiar with boiler plate, but can try to help. The first thing I notice is that you are providing a file extension. Try removing that and let me know if that works. We can probably make this a bit more robust to automatically read an extension if it is passed.

[2017-02-14 22:03] nikgraf commented on #1
@bhough @mxstbr I'm going to implement these next

- adjustHue(degrees, color)
- grayscale(color)
- complement(color)
- invert(color)
- opacify(color)
- transparentize(color)
- mix(color1, color2)
- tint(amount, color) (is it the same as lighten?)
- shade(amount, color) (is it the same as darken?)

These function don't make much sense since they only provide a single value of function. Do you guys

[2017-02-15 09:10] mxstbr commented on #1
Sounds good to me @nikgraf! I reckon when we got these and I'll finally finish the website (submitting a WIP PR soon) we can release this :shipit:

[2017-02-15 09:30] thillin commented on #82
Hi @bhough - sorry for the late response!

I've given that a go and am getting an identical error, honestly I didn't even realise that a file extension wasn't expected.

Just for reference, this is what I'm trying at the moment. I also had a look over the weekend and it appears the error is occurring in styled-components/vendor/postcss if that's of any use.

[code]

[2017-02-15 17:26] bhough commented on #1
I've been in the process of moving, but I'm also done with the error handler as well as integrating it into existing modules. I should have something to share by Monday.

[2017-02-15 20:31] bhough commented on #82
@mxstbr could the issue here be that post css doesn't support nested media queries?

[2017-02-15 20:33] bhough commented on #82
@thillin it should look like:

[code]

you are trying to set it's return value to a property, when it already contains the property and the values in the return: https://github.com/styled-components/polished/blob/master/src/mixins/retinaImage.js#L10

[2017-02-16 09:09] thillin commented on #82
@bhough 😓 My bad. Thanks for the input though, much appreciated!

I do think support for when an extension is included in a string would be a useful feature though.

[2017-02-16 17:46] bhough commented on #82
no problem at all @thillin. That is what we are here for.

[2017-02-16 17:46] #82 closed

[2017-02-18 10:20] nikgraf opened #91 "Improvements (Chores)"
I'm going to use this a personal todo list until the initial release. Some of these are for discussion. I just don't want to forget any of these.

- [x] make sure the color types are exposed
- [x] move color related functions to a color directory
- [x] accept rgba strings with spaces (right now it expects strings without spaces). Perquisite: need to check if one ore more spaces are allowed
- [x] a

[2017-02-18 21:09] bhough commented on #26
Closing this for now. @kitze feel free to submit a PR for any items you think we should add from your library.

[2017-02-18 21:09] #26 closed

[2017-03-03 22:52] bhough commented on #91
@nikgraf on the treeshaking front, from what I can see from the rollup docs the change @mxstbr made in #98 we should be pretty close to using native modules for treeshaking.

[2017-03-03 22:55] bhough commented on #44
@nikgraf anything remaining from this issue we want to address or is this good to close?

[2017-03-04 08:51] nikgraf commented on #44
@bhough good to close 👍

[2017-03-04 08:51] #44 closed

[2017-03-07 15:07] bhough commented on #4
@mxstbr @nikgraf Question on this. As far as what errors we want to expose in dev/production. Right now I have formatted errors/warnings working in dev and completely disabled in prod (meaning no custom errors are thrown in prod at all). Are we fine with this, or do we want to draw a specific line between for what we leave in prod when it comes to custom errors.

[2017-03-07 16:51] mxstbr commented on #4
That sounds reasonable to me @bhough! Do you have a WIP PR?

[2017-03-07 19:36] aaronmcadam opened #103 "Should styled-tools be added?"
https://github.com/diegohaz/styled-tools is a small library that adds [2 little functions](https://github.com/diegohaz/styled-tools#api) for conditionally adding styles (`prop` and `ifProp`). It might be nice to have something similar in `polished`, though I do wonder whether other style libraries expose `props` as nicely as `styled-components`. Just a thought 😄

[2017-03-08 06:15] nikgraf commented on #103
Cool lib, but not sure if it's a good fit. Polished itself is supposed to be a general purpose CSS in JS lib. What do you guys think @mxstbr @bhough?

[2017-03-08 06:17] bhough commented on #103
In the interest of keeping this library agnostic, I don't think we should include it. Technically this doesn't even necessarily need to be used with React, so `props` wouldn't exist.

[2017-03-08 09:07] nikgraf commented on #4
@bhough good question. It makes sense, but I'm not sure how we deal with inputs that don't make any sense e.g. rgb(66)?

[2017-03-08 10:07] aaronmcadam commented on #103
Thanks for the feedback guys, I agree after thinking about it for a while.

[2017-03-08 10:07] #103 closed

[2017-03-09 22:05] tolgaergin opened #104 "[V2] rgba function should behave like Sass rgba function"
The rgba function that you created expects
```${rgba(255, 205, 100, 0.7)}``` or
```${rgba({ red: 255, green: 205, blue: 100, alpha: 0.7 })};```
when we use it in styled-components.

I don't know, my approach might be wrong but If I use your rgba function like ```${rgba('#000', 0.1)}``` in order to get the same css ```rgba(0, 0, 0, 0.1)``` when I use rgba function in [Sass,](https://github.com/sass

[2017-03-10 08:11] nikgraf commented on #104
Interesting case. The functionality is already covered by https://polished.js.org/docs/#transparentize

To be honest I'm not sure. I thought this would not be needed, but if this is a very common case for Sass users we might want to consider supporting it.

[2017-03-10 16:49] tolgaergin commented on #104
Thanks for your thoughts Nik,

I've been asking many people around me for 2 weeks. the most common built-in functions in sass in my circle like that 1) rgba 2) lighten, darken

Additionally, I've investigate the most [popular front-end libraries](http://cssdb.co/) uses Sass,
if I compare their usage of rgba(#hex, alpha) or transparentize(alpha, #hex)

| Library | rgba usage | transparentize usage

[2017-03-11 07:21] pwain opened #107 "Can't build on Windows"
Had some trouble building polished on Windows 10. Several problems exist...

**rm and cp commands not available on Windows:**
I get the following error on initial install, and subsequent builds:

[code]

The cp command used during `postbuild:docs:site` has a similar problem.

Both can be worked around by using [shx](https://github.com/shelljs/shx) for cross-platform command support within the npm

[2017-03-11 07:34] pwain commented on #107
PR: #108

[2017-03-13 15:58] bhough commented on #104
I do see where this would be useful, what we would need to sort out though is how this jives with what RGBA currently does for us. Would the API become a bit too confusing if it supported both this use case as well as what it currently does?

[2017-03-14 14:39] MrLoh opened #109 "npm install doesn't work"
This is just what I was looking for. But I can't install it.

I tried to npm install the package, but only the `clearfix` functionality was installed. I guess the node package is very outdated or something.

[2017-03-14 16:48] bhough commented on #109
@MrLoh This has not been officially released yet, so this is expected.

[2017-03-14 16:48] #109 closed

[2017-03-14 16:49] bhough commented on #107
Merged #108

[2017-03-14 16:49] #107 closed

[2017-03-21 02:22] JikkuJose commented on #109
Just stumbled on this, it may be better to note this on the homepage.

[2017-03-21 03:11] nikgraf commented on #109
We will release soon 😄

[2017-03-21 03:15] nikgraf commented on #107
awesome!

[2017-03-21 03:19] nikgraf commented on #104
@bhough shouldn't be too crazy to do since we can match for the amount of arguments

I'm still be undecided if we want to encourage a simpler API with the explicit function or opt in for this special case …

[2017-03-21 03:19] nikgraf commented on #104
@tolgaergin thanks a ton for the research! 🙌

[2017-03-21 14:47] bhough commented on #104
@nikgraf agreed, meant more confusing as it seems to be doing two different things using the same method. If that pattern is already established, it may not be too bad to just implement it as opt in, while leaving transparentize in place.

[2017-03-21 14:49] bhough commented on #91
@nikgraf regarding:

Where in the string are you referring to allowing spaces?

[2017-03-21 15:12] nikgraf commented on #91
@bhough https://github.com/styled-components/polished/blob/master/src/color/parseToRgb.js#L8-L11

[2017-03-21 15:12] nikgraf commented on #104
question is: do we want this now or wait a bit longer until more people ask for it?

[2017-03-21 15:18] bhough commented on #104
In the interest of getting a release out soon(ish), I would vote for us to wait. If we lacked a method for doing this it would be different, but with `tranparentize`, at worst it's a minor inconvenience.

[2017-03-21 16:31] nikgraf commented on #104
sounds good!

[2017-03-21 16:32] nikgraf commented on #104
@bhough Max was thinking about launching at React London. I tried to reach you via private message on Twitter.

[2017-03-22 22:12] 10xjs commented on #91
@nikgraf I can look into the `rgba` whitespace question

[2017-03-22 22:14] nikgraf commented on #91
@10xjs that would be awesome

[2017-03-28 15:50] rattrayalex opened #117 "homepage example contains syntax error"
I pasted this into the console on the homepage:

[code]
And, unsurprisingly, got
```Uncaught SyntaxError: Unexpected token -```

I assume it needs to be `"font-size": `?

[2017-03-28 16:29] mxstbr commented on #117
Yes, good call! PR welcome.

[2017-03-28 16:38] rattrayalex commented on #117
Sure, forthcoming

[2017-03-28 20:37] thejameskyle opened #121 "babel-plugin-polished"
Here you go: https://github.com/thejameskyle/babel-plugin-polished

[2017-03-28 20:45] Haroenv opened #122 "homepage svg logo contains font"
The text has `FiraSans-Medium, Fira Sans` as font-family, which causes it to fallback into serif. There are two options to fix this:

1. add `, monospace` to the font
2. convert text into outlines

The first has the advantage of generating a smaller svg, the second will be exactly how you see it on your screen.

[2017-03-28 21:16] mxstbr commented on #122
Would love to convert it to outlines, mind submitting a PR to https://github.com/styled-components/brand? Thank you so much!

[2017-03-28 21:16] #122 closed

[2017-03-28 21:17] mxstbr commented on #1
`v1.0.0` is out! :tada: Amazing job everybody!

[2017-03-28 21:17] #1 closed

[2017-03-28 21:18] mxstbr commented on #14
This won't work out, it's sadly too complex at this point. :cry:

[2017-03-28 21:18] #14 closed

[2017-03-28 21:31] Haroenv commented on #122
styled-components/brand#1

[2017-03-28 21:58] rtsao opened #126 "[RFC] Adopt more explicit function arguments"
#### Space-delimited arguments

I think the concept of space delimited arguments of css property values often leads to considerable ambiguity. IMHO this is a concept that is ideally avoided when defining styles in JavaScript in favor of explicit arguments. These are really bad when there's several space-delimited values, such as in the `box-shadow` property.

For example:

[code]

Personally, I ha

[2017-03-28 22:20] #121 closed

[2017-03-29 01:11] #117 closed

[2017-03-29 01:12] nikgraf commented on #117
thanks @rattrayalex

[2017-03-29 07:12] jonasws opened #128 "Clarify use of object rest spread operator in docs?"
First of fall: Awesome library! Really cool to throw this at the guys claiming that they "live and die' by Sass functions!

I have suggestion/comment regarding the docs: The examples make extensive use of the object rest spread operator, which is still a proposal, and you may save a lot of developers some time by indicating that they need to use [babel-plugin-transform-object-rest-spread](https://

[2017-03-29 13:09] arvigeus opened #129 "CSS-Lock mixin"
Based on this article: https://www.smashingmagazine.com/2016/05/fluid-typography/

[2017-03-29 20:17] mxstbr commented on #128
I agree, that would be nice to have! Let's add it to the README for now, as #112 is completely reworking the docs.

[2017-03-30 05:05] bhough commented on #129
Interesting @arvigeus. What would an api for a mixin/helper look like for this?

[2017-03-30 06:45] arvigeus commented on #129
I use something like this:
[code]
Not sure for the other techniques mentioned in the article

[2017-03-30 10:32] mxstbr commented on #128
Done in #130, thanks @jonasws!

[2017-03-30 10:32] #128 closed

[2017-03-30 14:48] EnoahNetzach opened #134 "Strange error with eslint"
I just installed **polished**, and ❤️  it (just like **styled-components**)!

There is just one little bug (?) that bothers me..
I use **eslint** for linting, and it keeps saying me that I have 2 errors for each `import polished from 'polished'`:
[code]

My guess is that in the npm name there is an invisible character..

Here's how to reproduce it:
[code]

[2017-03-30 15:09] mxstbr commented on #134
Hah that would be super smart, but no it's literally just `"polished"`. I have no idea what's going on here! 🤷‍♂️

[2017-03-30 15:57] mxstbr commented on #126
I could see us merging that in for sure. What do you think @bhough @nikgraf?

[2017-03-30 15:59] mxstbr commented on #134
Marking this as an unconfirmed bug because I suspect the bug lies with `eslint-plugin-import` but I don't know for sure.

[2017-03-30 16:09] bhough commented on #126
I would definitely would want to keep the existing api in place given that the original goal was to make these as portable as possible from libraries like bourbon. Though I do believe this is another case (as @nikgraf and I were discussing on #104) where the idea of having multiple APIs for the same mixin has come up, and whether that should be seen as flexible or confusing.

[2017-03-30 16:18] EnoahNetzach commented on #134
Modifying the **eslint** resolver, forcing it to `console.log` the directory it looks in for the *package.json* (basically [here](https://github.com/substack/node-resolve/blob/master/lib/sync.js#L85)), I get spooky results:

[code]

[2017-03-30 16:25] EnoahNetzach commented on #134
Opened here: https://github.com/benmosher/eslint-plugin-import/issues/782

[2017-03-31 12:20] DJTB commented on #129
I use a very similar function and it's marvelous. Definitely worthy of consideration.

[2017-03-31 12:36] EnoahNetzach commented on #134
@mxstbr I found the elephant in the room 😛

[2017-03-31 12:38] EnoahNetzach commented on #134
As a footnote, copying output from WebStorm's console *can* append a zwnj char at the beginning, and that was what I was seeing.

[2017-03-31 16:00] #134 closed

[2017-04-01 00:20] juangl opened #137 "Opacify is not working"
The following code does this:

[code]

what's wrong?

 I don't understand why `transparentize` works well. Which is the difference between the two.

### Version
  - polished@1.0.2

[2017-04-01 01:32] nikgraf commented on #137
Hey, the docs are actually outdated. `opacify` does exactly the opposite of `transparentize`. The one increases the alpha the other reduced it. I just upend a PR with updated docs.

I hope that helps :)

[2017-04-01 01:32] #137 closed

[2017-04-01 01:44] juangl commented on #137
That make sense. Thank you.

[2017-04-02 17:57] IljaDaderko commented on #129
Regarding #594 react-native responsive font support, something that would allow us to base font size on device screen width would be extremely useful i.e. font size that is 16% of screen width number

[2017-04-04 14:31] kmctown opened #140 "Clearfix Compatibility"
This is a great library and I'm using it with `styled-components`, but having an issue `clearFix` interoping with bootstrap. The `clearFix` implementation is slightly different than bootstrap's and it doesn't seem to work with the Grid.

E.g., the `polished` implementation:

[code]

vs. the Bootstrap implementation:

[code]

Would be more than happy to submit a PR for this if you all are open to t

[2017-04-04 14:57] guzart commented on #126
I believe the proposed API would be great for a beginner, but I can imagine a more advanced CSS user finding it somewhat verbose.

Maybe the explicit API could be exposed in a subdirectory, similar to [Lodash's FP](https://github.com/lodash/lodash/wiki/FP-Guide), something among the lines of `styled-components/fancy`.

[2017-04-04 17:07] nikgraf commented on #140
Would be fine by me. @bhough @mxstbr any objections?

[2017-04-04 17:37] bhough commented on #140
Our implementation is the accepted approach for all browsers (IE8+) and uses the minimum amount of properties and selectors to reduce potential impact on pseudo elements. I'm not sure I like the idea of of expanding that to accommodate one specific (albeit popular) library.

[2017-04-04 18:04] bhough commented on #129
@IljaDaderko does React native use standard media queries for something like that, or is there something specific to that implementation?

[2017-04-04 18:06] bhough commented on #129
So @arvigeus I think we could get it compressed down to this:

[code]

[2017-04-04 22:12] IljaDaderko commented on #129
@bhough react native exposes device width and height https://facebook.github.io/react-native/docs/dimensions.html I was trying something along the lines of:

[code]

To simulate 18% of device width for font, but wanted to know if styled-components or polished offer easier solution.

[2017-04-05 05:25] bhough commented on #129
@IljaDaderko What would the easier solution in your opinion be here. Seems like opening an issue to add `Device.get('window')` support to our media query based mixins would be useful, but not sure what else we could do to simplify that? A general mixin that takes a traditional CSS media query and converts it for React Native maybe?

[2017-04-05 06:51] bhough commented on #129
I could definitely see a percentage mixin for React Native where you could do something along the lines of:

[code]

[2017-04-05 13:04] kmctown commented on #140
Thanks for the feedback. Closing this...something else weird is going on. I created the following function in a util lib:

[code]

And dropped it into styled components the same way:

[code]

And it works, where the `clearFix` from polished doesn't. Does that make any sense?

[2017-04-05 14:34] bhough commented on #140
Looks like the difference between the one we use and your example above is we use `&::after`  (double colon) where you are using a single colon. https://developer.mozilla.org/en-US/docs/Web/CSS/::after

Could be some browsers aren't liking the `::` colon version and we need to move to using the CSS2 version.

[2017-04-05 17:34] kmctown commented on #140
Right, I tried it both ways. The `::` colon version works as well -- as long as I'm returning the string.

[code]

⬆️  That works as well. Swapping out to the `polished` version breaks it. For whatever reason, chrome is not liking `content: ''` when using the version from `polished`.

Here is a screenshot from Chrome devtools when using the function that returns the string:

![image](https://cloud

[2017-04-05 17:51] bhough commented on #140
This *may* be an issue with `styled-components` not handling the object version correctly. This is what I get as output from our version:

`{"&::after":{"clear":"both","content":"","display":"table"}}`

My guess is `styled-components` is not handling the empty string correctly. @mxstbr @geelen thoughts?

[2017-04-05 21:45] bhough opened #143 "Add React Native Helpers For Device Width/Height"
Opening this to discuss the possibility of adding helpers for React Native percentages based on Height/Width. The API could look something like this:

[code]

which would replace something like this:

[code]

See: https://facebook.github.io/react-native/docs/dimensions.html

 We could potentially get really fancy and offer the ability to determine values based off measurements other than percentag

[2017-04-05 21:49] nikgraf commented on #143
Nice, does it make sense to have a separate package or part of the package dedicated to React Native?

[2017-04-05 22:09] bhough commented on #143
That is a good question. In addition to percentage helpers, there is the simple difference of a lot of the FB subset of CSS for React Native being camel-cased instead of hyphenated. There also seem to be some challenges around responsive design in general: https://medium.com/@elieslama/responsive-design-in-react-native-876ea9cd72a8

Seems like there would be

1. React Native specific helpers (like

[2017-04-06 23:34] bassbump commented on #104
Personally I always use rgba like this; rgba(#fff, .5). I think this should be supported.

[2017-04-10 23:56] krainboltgreene commented on #91
Is there a plan to support all CSS properties as functions?

[2017-04-11 03:39] bhough commented on #91
@krainboltgreene can you give an example of one you want to see as a function?

[2017-04-11 04:59] krainboltgreene commented on #91
@bhough Grid, flexbox, basically anything that can be expanded into multiple computed properties from a single shorthand.

[2017-04-11 05:13] bhough commented on #91
@krainboltgreene I'd be curious what an api for that would look like. What order would the properties be in, which ones could you skip, what would (if any) the defaults be?

We are very hesitant to create concepts that don't follow somewhat closely to what is already in CSS. The closest we've gotten is with things like `border-radius`, but we are still following the clockwise rotation.

Also for t

[2017-04-11 05:15] krainboltgreene commented on #91
Noted, thanks!

[2017-04-11 05:20] bhough opened #144 "Add EXAMPLES.md"
Document examples of using `polished` with various css-in-js solutions. This is the first step towards adding the ability to toggle between examples with these different libraries directly in the docs.

[2017-04-11 05:22] bhough opened #145 "Add ROADMAP.md"
Add a Roadmap doc that explains the items that we are actively working on, will definitely do, and are considering for inclusion.

[2017-04-11 06:30] mxstbr commented on #143
`styled-components` works on ReactNative with standard `polished` (we take care of camel casing etc.), so I'm wary of introducing another package for these. Why not just add them to the package, but make it clear in the docs they're RN only?

[2017-04-11 07:19] bhough commented on #143
@mxstbr I think that is the proposition. The only part up in the air was the camel casing, need to research how other libraries that support RN. Hopefully it is handled the same way styled components does it.

[2017-04-11 11:47] souporserious commented on #129
I think I have a decent solution for a fluid type helper using what @arvigeus posted as well as [this gist](https://gist.github.com/italodr/18fef232b4275f6d56195feab8deb0e8).
[code]

[2017-04-11 19:37] bhough commented on #129
@souporserious Would you like to put this into a PR so we can properly consider it?

[2017-04-11 21:11] souporserious commented on #129
Yeah for sure :) I should be able to do it this week.

[2017-04-11 23:37] boxfish opened #147 "steps in modularScale() is not calculated correctly"
Given default base (`1em`) and ratio (`perfectFourth`), modularScale(2) should return `1.77689em`, but currently it is returning `2.666em`.

It seems the current output is calculated by `base * ratio * steps`, but it should be `base * Math.pow(ratio, steps)`

[2017-04-12 19:01] yeskunall commented on #144
I am willing to help with this. One question tho: do you want an example for **_each_** method available in the API, or..?

[2017-04-12 19:13] bhough commented on #144
@yeskunall Right now we show two examples for our methods: One for usage with general `css-as -js` objects, and one specifically for `styled-components`. I'd like to start collecting more specific examples of using `polished` with other specific libraries, especially where the usage is slightly different. For example how to use it with https://github.com/paypal/glamorous, which allows you to apply

[2017-04-12 19:29] yeskunall commented on #144
I see. So is the focus to ease the integration of `polished` into already existing libraries that make use of the concept behind `styled-components`? What happens when the number of these libraries grows? Do you guys plan on constantly updating the documentation, in that case? Or do you want to restrict the usage to popular libraries? Just wondering.

[2017-04-12 19:40] bhough commented on #144
The goal of `polished` is to be library agnostic. Ideally, it works with any library that has CSS expressed as Objects as it's base (which `styled-components` and many others do). The goal of the docs is to ease the integration where it may not be immediately obvious how to use `polished` with a specific library. We will do our best to continue to update docs for new libraries as they gain in popu

[2017-04-12 20:10] souporserious opened #148 "Color Luminance utility functions"
Would you be interested in adding a luminance helper to this library? I'm using this right now which pulls from the knowledge of other color libraries:

[code]

ported this from [ChromaJS](https://github.com/gka/chroma.js/blob/d2c6d917df4ba2b87d8a740de116a0656bcbdfd5/src/io/luminance.coffee) because I didn't want to import the whole lib, not sure if you want to put it in here though
[code]

Could

[2017-04-12 20:27] yeskunall commented on #147
Looks like [this](https://github.com/styled-components/polished/blob/master/src/helpers/modularScale.js#L82) confirms what @boxfish reported. Based on [modularscale.com](http://www.modularscale.com/?1&em&1.333), modular scale is calculated as `base * Math.pow(ratio, steps)`.

[2017-04-12 21:27] mxstbr commented on #147
Yes please, PR very welcome!

[2017-04-12 21:48] brikou commented on #147
@mxstbr I just made a PR for this one and another bug when steps is 0, can you review please #149

Thank you for your work :+1:

[2017-04-13 07:27] brikou opened #150 "RFC change modularScale default unit from `em` to `rem`"
`em` units are based on the font size of the element they’re used on whereas `rem` units are based on the font size of the html element.

I suggest to update modularScale signature to use `rem` as default.

read more here https://webdesign.tutsplus.com/tutorials/comprehensive-guide-when-to-use-em-vs-rem--cms-23984

WDYT ?

[2017-04-13 10:10] brikou commented on #150
EDIT: in fact I think that default base should be simply 1 (as float). This helper shouldn't have anything to do with unit IMO.

[2017-04-13 10:34] brikou commented on #150
The more I think about it... the more I feel that I am wrong and `1em` as base unit is perfect... So closing this issue

[2017-04-13 10:34] #150 closed

[2017-04-14 01:50] bhough commented on #148
Thanks for the idea @souporserious. I'd definitely be interested in something like this. One thing we are lacking that I've found useful is something similar to color guards in LESS: http://lesscss.org/features/#mixin-guards-feature

Where you can style something based on the lightness/darkness of a color. This seems like something that could get us there.

On the library front, our goal is to not

[2017-04-14 20:38] souporserious commented on #148
Sweet! Those mixins look rad. I'll start a PR for this as soon as I get a chance :)

[2017-04-16 21:27] souporserious commented on #129
@bhough thoughts on making the function a little more abstract? Just read [this article](https://fvsch.com/code/css-locks/#toc-1) about CSS locks and it seems we could benefit from this technique in multiple areas.

[2017-04-16 21:42] bhough commented on #147
Closed by #149. Thanks @brikou!

[2017-04-16 21:42] #147 closed

[2017-04-18 11:03] Morganjackson opened #152 "Invert helper"
I have a `setTextColor()` function that returns black or white based on the background color, and I was wondering if polished could do this?

[code]

I found [invert()](https://github.com/styled-components/polished/blob/94db3ed0a0cd156a2bf745832c8d219786984762/src/color/invert.js#L29-L38) which works in some cases but I find you usually just want black or white for things like buttons or navigatio

[2017-04-18 15:35] bhough commented on #152
@Morganjackson Good news, it is already being discussed as part of #148.

[2017-04-18 15:35] #152 closed

[2017-04-18 16:21] suchipi opened #153 "Support for named css colors"
It'd be nice if you could use helpers with named CSS colors, eg "white", "salmon", etc. Polished would need to have a map of names to "usable" colors. It could maintain its own list of colors, or use a package like `css-color-names`.

[2017-04-18 20:45] bhough commented on #153
@suchipi Thank you for the suggestion. I'm assuming this would be so you could use named colors with the color mixins? Ideally what would these be mapped to? I'm assuming the hex values?

[2017-04-18 20:53] suchipi commented on #153
Yeah, I was thinking the hex values; to be used with darken, desaturate, [etc](https://polished.js.org/docs/#color).

[2017-04-18 20:57] bhough commented on #153
Definitely something we'd consider doing. The concern I have that would need addressed is to how to add that functionality to all the color mixins without bloating the size of those modules.

[2017-04-18 21:20] suchipi commented on #153
What kind of size goals does the project have? It looks like my install of `polished.min.js` is 24KB.

Here's one example of a name-to-hex map (not sure if it's complete), that's 3.75KB uncompressed: https://github.com/bahamas10/css-color-names/blob/master/css-color-names.json

Something like this could be shrunk by removing whitespace, duplicated `#` characters, and converting 6-character hex cod

[2017-04-18 21:40] bhough commented on #153
Right now we don't have a size goal for the entire project as we want users to only import the modules they need. We also are aiming for this to be dependency-free.

Yes we definitely want it to work across the board, so `getComputedStyle` is not an option, and I don't want to fork the builds based on the target for one feature.

It would be tree-shakable as far as it would only be included if a c

[2017-04-19 06:18] bhough commented on #129
@souporserious I'm not opposed to it, but the one thing I'll say is: Can we express what the helper is doing and what it's api is concisely? With the fluid typography version I can understand what is going on and the API is clear. With CSS Locks, that may be difficult. The concept hasn't really caught on much beyond a few think pieces last year (all written by Tim Brown), and depending on what the

[2017-04-19 08:29] bhough commented on #145
Addressed by #151

[2017-04-19 08:29] #145 closed

[2017-04-19 09:35] DJTB commented on #129
An abstract function does have more appeal I think.
A much shorter article, that's simpler to grok than the longform CSS Locks just came out as well:
https://css-tricks.com/between-the-lines/

perhaps
[code]
becomes
[code]

[2017-04-19 09:50] bhough commented on #129
Thanks @DJTB that is definitely much easier to grok. @souporserious something like the example @DJTB shared would definitely be a great starting point. Definitely want to discuss the method name a bit more, I'm not sure either `between` or `interpolate` are clear/describptive enough.

[2017-04-19 10:13] DJTB commented on #129
Well, without passing in the optional screen ranges, the proposed function works similarly to the new CSS Grid function `minmax()`. If that's a reasonable starting point for naming.

[2017-04-24 05:12] sapottier opened #156 "Improvement proposal for calculation"
Hello,

First of all, sorry for my english. Unless I am mistaken, there is no calculation tool ? Currently, I have to write something like :

[code]
pretty ugly…

maybe something like :

[code]
Also, this can be converted with babel-plugin-polished and disregard the units.

Thank you,

Simon

[2017-04-24 06:22] bhough commented on #156
@sapottier Are you looking for a replacement for regular CSS Calc? Support for that is pretty robust at this point: http://caniuse.com/#feat=calc

[2017-04-24 06:41] sapottier commented on #156
@bhough I use calc to mix fixed dimension and %. For nested calculation there is some trouble (often with IE…). Also, considering the result as constant, leting babel-plugin-polished compiled the result seems to be a good thing ?

[2017-04-24 07:28] bhough commented on #129
@DJTB and @souporserious maybe something like `lockRange` or `fluidBreakpoint`, but we can continue to discuss the name. @DJTB's proposed API looks like a great starting point @souporserious.

[2017-04-24 08:57] mxstbr commented on #140
I don't think this is a bug in `styled-components` (let's double check what other CSS-in-JS libs do here) but we should do this instead:

[code]

I think that'd fix it?

[2017-04-25 13:22] bhough commented on #140
Closed by #157

[2017-04-25 13:22] #140 closed

[2017-04-27 10:43] nikgraf commented on #140
sweet 👍

[2017-04-27 10:56] nikgraf commented on #153
Really nice considerations!

[2017-04-27 11:52] nikgraf commented on #126
@rtsao first of all: lostyle looks really cool, good job there 👏

I really like this proposal and usually I'm more in favour of having one way of doing things, but in for the sake of making it easy for most people we followed the approach of accepting different signatures. Mostly inspired by the [Robustness principle](https://en.wikipedia.org/wiki/Robustness_principle)

I'm not too fond of a `poli

[2017-04-27 12:05] nikgraf commented on #144
I like the idea. I think in this case we should have a clear ruleset when we include a new solution. Right now there are about 50+ (see https://github.com/MicheleBertoli/css-in-js) and this could eventually lead to slow loading of the Polished page itself.

Which one of these 50+ would you like to add and why at the current state?

[2017-04-27 12:40] nikgraf commented on #156
@sapottier what do you think about adding this to a micro-library that we mention in the readme as an extension to polished?

[2017-04-28 10:41] feyzo opened #158 "`array.includes` is not transpiled and breaks all IE + Edge 13"
`polished` version: 1.0.4

What i am seeing:

Transpiled `node_modules/polished/lib/shorthands/position.js` Line 65-66

[code]

Solutions:
1. Replace `includes` with `indexOf(...) >= 0`
2. Use babel but see `pitfalls` https://www.npmjs.com/package/babel-plugin-array-includes

Reproduction:

Search for `.includes`
https://github.com/styled-components/polished/search?utf8=%E2%9C%93&q=.includes&type=

[2017-04-28 10:44] feyzo commented on #158
I can create a PR if you agree to go with solution 1

[2017-04-28 15:53] nikgraf commented on #158
@feyzo your first solution sounds good

[2017-04-28 22:28] bhough commented on #158
A note that this will impact `position`, `textInputs`, and `buttons`.

[2017-05-01 19:22] DJTB opened #160 "Triangle mixin needs completed"
The docstring for Triangle currently ends up in the built docs under Types > PointingDirection

I went for a quick PR but ran into flow annotation issues due to lack of familiarity with it.

Seems all that's needed is to add `"triangle`" under Mixins in `.documentation.js` and to correct the docstring placement from above `PointingDirection` to above `triangle` in `src/mixins/triangle.js` (and wha

[2017-05-01 19:32] DJTB commented on #160
Oh, I just realised it's not exported in the main package either (attempted to use es6 import).
Not sure if that's an oversight or intentional!

[2017-05-01 20:56] #158 closed

[2017-05-01 20:58] bhough commented on #153
Closed by #155. Thank you for the suggestion @suchipi

[2017-05-01 20:58] #153 closed

[2017-05-01 21:55] bhough commented on #160
Thanks @DJTB. It's an oversight, we will take a look at getting that corrected this week.

[2017-05-01 22:38] bhough commented on #160
@nikgraf @mxstbr looks like this needs a bit of re-working to match our other APIs, documentation is incorrect, and types aren't working exactly right. Will spend some time working on this, this week. Not a bug per se, as it is not usable, but should get it added.

[2017-05-01 22:48] suchipi commented on #153
Thanks!

[2017-05-03 08:34] kabulore commented on #104
I hope the polished can support multiple function like ${rgba('#000', 0.1)} or ${rgba('#cbcbcb', 0.1)} or ${rgba(200, 200, 200, 0.1)} or ${rgba(green, 0.1)}. Thank you!

[2017-05-03 21:18] jcquinlan commented on #148
Does the luminosity function only need to accept a hex color value? Or rgb/rgba as well?

[2017-05-04 06:08] sapottier commented on #156
I will do it in this way. First step, find the best approach: just eval or function constructor _(not secure if we bypass compilation), tagged template, shunting-yard, reverse polish notation, …

I will investigate.

[2017-05-04 22:46] bhough commented on #104
@nikgraf @mxstbr I think at this point there is enough demand to warrant implementing this.

[2017-05-05 22:35] bhough commented on #91
@nikgraf Finally got around to building a little sandbox to test tree-shaking and we are all good with our current config:

![screen shot on 2017-05-06 at 00-34-48](https://cloud.githubusercontent.com/assets/769339/25766643/edb217ee-31f3-11e7-9059-75d70410a0f5.png)

[2017-05-05 22:43] bhough opened #164 "Documentation Improvements"
Would like to make the following documentation improvements:

- [x] Link to docs in readme should point directly to `/docs` and not the main site.
- [x] Add section to docs about usage in imports (the importing of individual modules).
- [x] Add section to readme about usage in imports as well as tree-shaking support.

[2017-05-07 10:30] dlwalsh opened #167 "[V2] Camel Case Object Keys"
I'd like for there to be a way to get the style object with the keys in camel case, as opposed to the default kebab case.

For instance, glamorous complains about `border-left-width` when it expects `borderLeftWidth`. Glamorous is still smart enough to correctly interpret the style, but it would be nice to do away with the console warning.

I'd be happy to submit a PR for such a change, but I'm un

[2017-05-07 13:35] bhough commented on #164
Closed by #165

[2017-05-07 13:35] #164 closed

[2017-05-07 13:46] bhough commented on #167
Thank you for the proposal @dlwalsh. This has come up before in the context of styles for [React Native](https://github.com/styled-components/polished/issues/143#issuecomment-293164086), and generally we have been hesitant to add that functionality directly to polished as most libraries either don't expect the camelCased properties or when they do, they take care of the conversion within the libra

[2017-05-07 13:48] kentcdodds commented on #167
That warning's coming from glamor (cc @threepointone) and I think that there definitely should be an API to allow for camelCase considering the React `style` prop also expects camelCase.

[2017-05-10 14:52] bhough commented on #167
Thanks @kentcdodds. I will do some further research here. Probably will need to put a table together on which approach the popular implementations prefer/support as a starting point.

[2017-05-10 15:12] kentcdodds commented on #167
I've yet to see a CSS-in-JS solution that didn't use camel case for property keys if it users objects.

[2017-05-10 22:19] nikgraf commented on #167
Makes sense to me to support it. I dislike the idea of importing from `'polished/camelCase'`. To me this feels like it's not a first class citizen while it should be.

What are our options?
- Two different libraries generated from one source code with two dedicated docs pages.
- Import from a subdirectory 'polished/camelCase'
- An argument in every function which it's relevant
- A global setting f

[2017-05-10 22:33] kentcdodds commented on #167
Well, it appears that the original/primary use-case for polished was to be used with styled-components. With that in mind, it seems reasonable for the camelCase use case to be a second-class citizen.

With that said, here's how I (as a user) would rank my opinion of the options @nikgraf listed (from my favorite to least favorite):

1. Import from a subdirectory 'polished/camelCase' (can alias with

[2017-05-10 22:40] bhough commented on #160
Closed by #162

[2017-05-10 22:40] #160 closed

[2017-05-11 09:38] bhough commented on #129
@DJTB @souporserious Check out #169 and tell me what you think of that API/Functionality

[2017-05-11 10:01] DJTB commented on #129
The output `calc()` will fail without a unit value:
[code]
should be(-33.33333333333334**px**)

[2017-05-11 10:11] mxstbr commented on #167
Why don't we use `camelCase`? `styled-components` supports that perfectly fine? https://www.webpackbin.com/bins/-Kjqz5YRz2-dp7NREedN

[2017-05-11 10:16] DJTB commented on #129
I pumped in the units in devtools, and the scaling works great.

API wise, I'd probably prefer single params if only one property, similar to helpers like:
` ${directionalProperty('padding', '12px', '24px', '36px', '48px')}`
and array for multiple props.

That said, the named object is great for clarity, and people (myself!) can compose fluidRange as they wish anyway. So despite my preference for

[2017-05-11 10:21] bhough commented on #129
Good catch @DJTB.

Yeah I'm still torn on that. See #126 for some discussion. Technically, we can support all three, I'm just concerned about code bloat supporting so many different APIs.

What do you think about exporting `between` separately as a helper as well for those that just want the calculation?

[2017-05-11 10:27] bhough commented on #167
Actually @kentcdodds, our goal is to make it work across the board, so no concerns there.

I've done some digging and verified that at least the major libraries `styled-components`, `aphrodite`, `jss`, `react-jss`, `glamor`, & `glamorous` all support and prefer `camelCase`. With `styled-components` also allowing it, we should be fine to move forward with this.

[2017-05-11 10:35] DJTB commented on #129
That sounds pretty reasonable. I'd probably want it to have default min/max, same as fluidRange.
[code]

I understand the API woes. I like both the simple and the verbose versions depending on the familiarity with the function in question. I won't be much help in that discussion.

[2017-05-13 18:58] stereobooster opened #171 "Typographical baselines"
Code https://github.com/michaeltaranto/basekick
Video https://www.youtube.com/watch?v=TGHbkTGVqoU

Related:

- http://compass-style.org/reference/compass/typography/vertical_rhythm/
- http://type-scale.com/
- http://foundation.zurb.com/sites/docs/typography-base.html
- https://github.com/hiulit/Sassy-Gridlover ([demo](https://www.gridlover.net/))
- http://codepen.io/getflourish/full/vXqewy/
- http

[2017-05-13 22:46] nikgraf commented on #167
Cool! Let's camelCase then 😄

[2017-05-18 13:50] bhough commented on #156
Going to close this, but please submit a PR to add the micro-library to the readme when available.

[2017-05-18 13:50] #156 closed

[2017-05-18 13:59] bhough commented on #171
Thanks for the feature request @stereobooster. This is one we originally had on our list for V1 but the way it needs to work with global rules gave us pause. As we think about V2, we wouldn't be opposed to revisit this. Any thoughts on what a mixin for this would look like?

[2017-05-18 14:01] bhough commented on #31
Going to close this for now, though may be part of a V2 docs revamp.

[2017-05-18 14:01] #31 closed

[2017-05-18 14:08] bhough opened #172 "[V2] Integration Tests"
Add a suite of integration tests ensuring the CSS generated by ✨`polished` mixins works as expected with various CSS in JS implementations. Off the top of my head list:

- [ ] `styled-components`
- [ ] `glamor`
- [ ] `glamorous`
- [ ] `aphrodite`
- [ ] `jss`
- [ ] `styled-jsx`
- [ ] `inline styles`

Open to suggestions for other popular libraries that we should run integration tests against.

[2017-05-18 14:14] bhough opened #173 "Documentation Improvements"
Improvements to documentation for V2 of ✨`polished`.

- [ ] Move to Next.js
- [ ] Ensure docs use consistent verbiage for all modules.
- [ ] Add examples for usage in popular libraries.
- [ ] Add a playground for using polished and seeing outputted CSS (maybe using WebpackBin).
- [ ] Potentially update design.

[2017-05-18 14:16] bhough opened #174 "[V2] Add Types for TypeScript"
Add, and automatically check, types for TypeScript and Reason

- [ ] TypeScript
- [ ] Reason

[2017-05-18 14:24] bhough opened #175 "Deprecate Unnecessary Modules"
Mark modules for deprecation in 3.0 due to being rendered useless by improvements to CSS processors used by supported libraries:

- [x] selection
- [x] placeholder

[2017-05-18 14:27] bhough commented on #144
Closing this in favor of an item in #164.

[2017-05-18 14:27] #144 closed

[2017-05-18 14:31] bhough opened #176 "toColorString Performance Improvements"
Performance improvements to color modules by splitting `toColorString` into `hslToColorString` & `rgbToColorString`.

[2017-05-18 14:33] bhough commented on #91
Closing this in favor of #176 #173 & #4

[2017-05-18 14:33] #91 closed

[2017-05-18 14:50] bhough opened #177 "[V2] [Discussion] Contributor Experience Improvements"
Some items I'd like to discuss for V2 to help our day to day development workflow:

- [x] Implement prettier
- [x] NPM publish audit (users are indicating we may still be publishing unnecessary files to npm)
- [x] Cleanup Build Scripts (we keep ending up with an out of date bundle checked into the repo)
- [x] Replace ghooks [DEPRECATED] with husky

[2017-05-19 06:31] stereobooster commented on #171
This is not final vision, trying to brainstorm this.

I suppose there is should be "theme" object, like state in redux. For vertical rhythm we need `base font size` and `scale factor` (at least).

### Basic vertical rhythm

[code]

### Gutenberg

[Gutenberg](http://matejlatin.github.io/Gutenberg/) uses `base_font_size` to fit images in grid.

### Adaptive Modular Scale

[Adaptive Modular Scale](ht

[2017-05-19 23:34] kof opened #178 "Encourage users to import specific modules"
I realize that `import {lighten} from 'polished'` looks smaller, but its  bad idea to promote this style, because of the growing bundle, much better would be to show `import lighten from 'polished/lighten'` in the examples.

[2017-05-20 15:19] mxstbr commented on #177
Why do we want to remove that? I quite like not having to go through and publish each change manually...

[2017-05-20 15:20] mxstbr commented on #175
Let's make these log a warning to the console saying something like "Hey, x is deprecated and will be removed in v3.0" and then for v3.0 delete them for real!

[2017-05-21 17:53] bhough commented on #178
@kof @mxstbr I don't believe that this syntax will actually work with the way `polished` is built currently. This would require use to build each module as a separate package inside of the main package for that import style to work (unless there's another way I'm not aware of).

The current suggested method works for bundlers that have tree-shaking, but it's debatable how widespread it's use is, s

[2017-05-21 17:55] bhough commented on #126
@nikgraf @mxstbr curious thoughts on including this as part of V2. Are we sold on expanding the apis of existing modules (where appropriate) to allow shorthand and explicit styles?

[2017-05-21 17:56] bhough commented on #175
Sounds good @mxstbr that will make this issue dependent on #111, as it will introduce a way to send a deprecation message.

[2017-05-21 18:20] geelen commented on #126
My 2c as someone fairly confident with CSS, I think API quirks like this are better left exposed directly to the consumer, since they're an unavoidable part of the platform. For example, as soon as you need to drop from styling with polished into styling with CSS or have to change an element's style using inline styles, you're straight back to the "native" interface. So it makes your knowledge les

[2017-05-22 12:45] vizFlux opened #180 "Mixin not working in styled-components conditional style"
In this case, ellipsis will not be working...

[code]

[code]

[2017-05-22 14:27] bhough commented on #180
Hi @vizFlux, your issue is that you are returning an interpolation within an interpolation which requires the `css` helper in `styled-components`: https://github.com/styled-components/styled-components/blob/master/docs/api.md#css

Once you do that, it should work just fine: https://www.webpackbin.com/bins/-KkkT31cIhxnIUZBRrFj

[2017-05-22 14:27] #180 closed

[2017-05-22 23:32] vizFlux commented on #180
@bhough Appreciate the explanation, perhaps I should take a sec back to understand how template literal really work. Thanks for the assistance and it has been helpful!

[2017-05-23 14:03] rohmanhm commented on #174
Still no improvement here. Anyone work for this feature?

[2017-05-23 15:53] mxstbr commented on #174
It's been five days my friend, and we all have full-time jobs :wink: in case you're interested in this feature we'd love somebody taking on the Reason types!

[2017-05-24 01:07] rohmanhm commented on #174
Oops, I don't see it.

Some folks work on it.
https://github.com/styled-components/polished/pull/154

[2017-05-25 09:25] bhough commented on #177
@mxstbr I don't feel super strong about this one. @nikgraf and I were just talking at ReactConf that sometimes it can be a bit cumbersome to work with. For example, we had a few releases get missed due to mistyped commit messages by contributors (that were manually doing the format instead of using commitizen). Also a standing question about how we use it to generate whole point releases.

I'm not

[2017-05-25 16:08] LawJolla opened #185 "Readability Color Function"
- `polished` version: 1.1.2
- `JSS-in_CSS` library and version: Styled-Components 2.0.0

I've gone through the docs and I don't see a function to give the most readable white or black text, e.g.

[code]

Is this available?  If not, would you consider a PR for it?

I love polished / styled-components and thank you everyone for your hard work!

[2017-05-25 16:45] bhough commented on #185
@LawJolla It currently is not. However, it is probably loosely related to the discussion in #148. We definitely would accept a PR for something like this as part of our V2 milestone.

[2017-05-25 17:00] LawJolla commented on #185
@bhough sounds good.  I have a W3C readability compliant function I've been using for my projects.

I'll get to work on it and it'll be my first PR (I read through the Contributing.MD).  Thank you for the opportunity!

[2017-05-25 17:07] bhough commented on #185
Much appreciated @LawJolla!

A few notes since this will be going into V2 and we are just ramping that up.

1. Create your branch/pr from https://github.com/styled-components/polished/tree/version-2 as that has the latest build setup.
2. If any of the CSS props are hyphenated normally, be sure to camelCase them instead, as that will be required once #170 is merged into v2 (hopefully very soon)
3.

[2017-05-26 22:58] LawJolla commented on #185
My first crack at it is ready to go when you are.  Just let me know.  Thanks!

[2017-05-27 19:40] leggomuhgreggo commented on #129
Was wondering if this was on the radar -- awesome!

I've been messing with CSS Locks a lot lately, and judging from the last few comments looks like y'all are reckoning with the same csslock API scope creep that I've been.

### Some helpful things to consider:
**Root/HTML font-size:**
For a11y reasons, it's recommended that the font not be defined in pixels, because it steps on font-size adjustmen

[2017-05-27 20:01] souporserious commented on #129
@leggomuhgreggo that all sounds great!!! I know there is a PR currently open [here](https://github.com/styled-components/polished/pull/169), maybe @bhough could help out with that. I'm not sure where he's at with it though.

[2017-05-27 20:14] DJTB commented on #129
Not that we need _more_ information to complicate further... but @madebymike who kinda kicked a lot of this off, recently wrote another article regarding these techniques.

https://madebymike.com.au/writing/non-linear-interpolation-in-css/

Personally I've been setting a fluid fontSize on the body in rems. Elsewhere for padding/margins/borders etc I just use ems and rems to feed off of that - and

[2017-05-27 20:33] leggomuhgreggo commented on #129
Thanks @souporserious! Just reviewed the PR -- looks like some good work.

One cumbersome aspect required for putting sizing in terms of `rem` is it relies on knowing the pixel equivalent of `rem`, and if a root lock is set, knowing the width/size parameters. Those values would need to be a) configurable and b) referenceable in subsequent lock functions.

@DJTB nice link -- that interpolate mixin

[2017-05-28 07:54] bhough commented on #185
Thanks LawJolla! #170 is in review, so that should be any day now. 3 on the list above is coming along nicely, hopefully sometime this week, then I can walk you through the new api for module validation we adding to ensure pretty warnings, error isolation, and reduce the amount of invalid generated CSS.

[2017-05-28 08:16] bhough commented on #129
Clearly this is a potentially very popular feature 👍🏻

Thanks for sharing that latest article @DJTB. The fun with this feature is balancing features with not creating a completely inaccessible API. Likely we will need to settle on a "core" use case that has a simple API. Then we can expand it via a more complicated API (things like changing the units, adding custom interpolation types as outlined

[2017-05-29 08:56] silverlight513 commented on #178
@bhough, Would you mind giving an example of how you got this to work?

I'm using webpack 2 as my bundler and I'm getting an error when I try this method. After looking at my bundle using webpack-bundle-analyzer I'm pretty sure that tree shaking isn't removing the packages I'm not using. Polished is standing at 8.58KB (gzipped) when I'm only using rem

[code]

[2017-05-29 09:18] bhough commented on #178
@SilentCicero my comment probably will cause some confusion...

What currently works is `import rem from 'polished/lib/helpers/rem'`. I'll update my original comment to reflect that we still need to update the build if we want the shorthand `polished/rem` to work.

Is that your production bundle your are analyzing? Should see comments like this `/* unused harmony export triangle */ in your dev bun

[2017-05-29 09:20] silverlight513 commented on #178
I was looking at my production build. I'll have a look at switching to that import from libs. Thanks :)

[2017-05-29 09:24] bhough commented on #178
@silverlight513 I'll try and take a look again today to ensure nothing has changed.

One thing you might want to also check is that you don't have module transformations turned on in Babel. This will prevent tree-shaking from working: Your .bablerc should have the modules flag set to false similar to below:

[code]

[2017-05-29 09:28] silverlight513 commented on #178
Ah damn, I'm missing that in my babel. Completely forgot I needed to add that, thanks.

I just switched to using the import you gave and it works brilliantly.

Also to note for anyone else who may come across this issue, if you're importing a helper like rem, use `import rem from 'polished/lib/helpers/rem'` but if you're importing a mixing such as clearFix use `import clearFix from 'polished/lib/m

[2017-05-29 09:41] mxstbr commented on #178
We can add this to the Babel plugin so it does that automatically? /cc @thejameskyle

[2017-05-29 09:41] luftywiranda13 commented on #178
yeah, I tried to do this to import `normalize` mixins, I got **-3.7KB* reduction

[2017-05-29 22:03] thejameskyle commented on #174
@mxstbr I just added you to a project I'm working on which will help here.

[2017-05-31 09:55] brunnolou commented on #150
@brikou can you explain why you now think `em` is better instead of `rem` in modular scale?

IMHO `modularScale(2)` should always be the same `px` size, and not be determined by the font size of the parent.

[2017-05-31 22:30] bhough commented on #126
I believe I have a solution for v2 that will allow us to both support this without causing much overhead as well as make it opt-in on a per module basis with no modifications to the module itself.

[2017-06-02 17:47] corbanbrook opened #188 "`transparent` color not supported by functions"
Passing a color value of `transparent` into functions like darken causes an error.

`Error: Couldn't parse the color string. Please provide the color as a string in hex, rgb, rgba, hsl or hsla notation.`

However other color strings such as `white` work fine.

[2017-06-02 18:50] leggomuhgreggo commented on #129
@bhough Sweet, sounds like a solid roadmap.

Question: Is there a prefered methodology for referencing global variables defined by a mixin?

Lock calculations that reference `rem` will need to be able to know it's pixel equivalent. Default is of course `16px`, but it'd be nice to support both the easier to reason about `1rem = 10px` methodology, as well as a root lock where `rem` would be a range.

[2017-06-02 21:23] bhough commented on #188
@corbanbrook This is because `transparent` does not have an associated color code. In order to act upon it with our color methods, it has to translate to a HEX or RGB value. All other color keywords work since they have associated HEX values. I'm not sure there is a universally accepted color representation for transparent (such as white or black at 0 opacity).

[2017-06-03 00:25] leggomuhgreggo commented on #129
**Update:** I've been looking at a11y articles for the past several hours on the subject adaptive technology and font-size, and so far most of the evidence is pointing towards not needing to calculate non-root font sizes (or other sizing) in terms of `rem`, since browser zoom works so much better. Makes sense since so few sites adopt a rem/em-only sizing methodology, as opposed of pixels.

I've co

[2017-06-03 00:43] souporserious commented on #129
This sounds amazing! Even for other reasons besides the CSS locks. I never knew, but had always hoped, browser zoom could work without using rem/em. Interested to learn more. Thank you for looking into that! I appreciate it on my end :D

[2017-06-03 08:34] bhough commented on #188
We will also be improving the error messaging in V2, I'll make a note we need to include color keywords (outside of transparent) as valid input types.

[2017-06-05 13:59] corbanbrook commented on #188
I think it would make sense to support transparent as it is a valid color value in css but rather than treating it as black or white with 100% transparency, it should simply pass-through on all color functions like it does on sass/stylus.

Here is a sass example:

[code]

[code]

[2017-06-07 02:19] bhough commented on #185
@LawJolla I've managed to get the new validation API done in a way that shouldn't directly affect your code. If you want to submit a WIP PR we can start to take a look at things.

[2017-06-07 05:30] LawJolla commented on #185
Thanks @bhough !  #189 is submitted!  Thanks for your time and review.  I think it's a good contribution.

As an aside, I just saw you're with BR.  My backend stack is Elixir/Absinthe.  Good stuff!

[2017-06-08 17:07] bhough commented on #185
Thanks @LawJolla I will give it a look this weekend.

Nice, we're obviously huge into Elixir at BR, so I approve 😬

[2017-06-12 19:53] bhough opened #190 "Latest documentation.js breaks docs build"
For some reason yet to be investigated the latest version of Documentation breaks our docs theme. It is due to the import not working here: https://github.com/styled-components/polished/blob/master/docs-theme/index.js#L8

Produces the error:
`TypeError: createLinkerStack is not a function at module.exports`.

Current solution is to pin it at beta-18.

- [x] ~~pin documentation at Beta-18~~ ( #191

[2017-06-14 16:48] bhough commented on #190
Addressed temporarily by #191 until we get a recommendation in https://github.com/documentationjs/documentation/issues/810

[2017-06-14 16:48] #190 closed

[2017-06-17 15:54] silverlight513 commented on #178
@mxstbr, is there an issue logged in the babel plugin repo to keep track of progress?

[2017-06-17 17:07] luftywiranda13 opened #195 "`babel-preset-latest` is deprecated"
- `polished` version: v1.1.3

polished still uses `babel-preset-latest` which is deprecated. Babel suggests to migrate to `babel-preset-env`.
![screen shot 2017-06-18 at 00 05 44](https://user-images.githubusercontent.com/22868432/27254783-195fb2ce-53ba-11e7-9cae-05a6d44f5340.png)
https://babeljs.io/docs/plugins/preset-latest/

[2017-06-17 20:19] mxstbr commented on #195
PR welcome!

[2017-06-17 21:24] luftywiranda13 commented on #195
@mxstbr done 👍

[2017-06-17 23:24] stevenmusumeche opened #197 "Flow errors"
- `polished` version: 1.1.3
- `JSS-in_CSS` library and version: styled-components:2.0.1
- Any relevant JS library and version: React 15.5.4

Mixin/Helper/Shortand you were using and how you were using it:

[code]

What you are seeing:

400+ flow errors.

embed/node_modules/polished/lib/color/parseToRgb.js.flow:56
 56:       alpha: parseFloat(`${rgbaMatched[4]}`, 10),

[2017-06-19 15:03] bhough commented on #177
Just a note that I'm still evaluating some of the changes made specifically to the build script. The one challenge with building the docs on every commit is that it makes rebasing a bit of a nightmare as every commit ends up with some sort of conflict you have to account for when rebasing.

[2017-06-20 05:04] bhough commented on #185
Addressed by #192 woot! 🎉

[2017-06-20 05:04] #185 closed

[2017-06-20 12:08] bhough opened #200 "Install Flow Lib Defs"
We have not installed Flow libdefs for our dependencies. These leads to flow errors with our source code (#197).

We just need to run `flow-typed install` and commit the downloaded lib defs.

[2017-06-20 12:33] bhough opened #201 "Add Flow Instructions to README"
We need to add a section to the README with instructions for using `✨ polished` with `flow`. The first step is to add a section for configuring `flow` to ignore the `✨ polished` source code.

A similar example can be found in the `styled-components` docs: https://www.styled-components.com/docs/api#flow

[2017-06-20 12:41] bhough opened #202 "Create Flow Library Definitions and add them to flow-typed"
In order to better support users who use `flow` for their projects we should create library definitions for `✨ polished` and add them to `flow-typed`.

- [ ] Creating libdefs: https://flow.org/en/docs/libdefs/creation/
- [ ] Adding to `flow-typed`: https://github.com/flowtype/flow-typed
- [ ] Add instructions for installing types to flow section of README.md

[2017-06-20 12:43] bhough commented on #197
Thank you for filing the issue @stevenmusumeche.

We've created #200, #201, and #202 as action items out of this issue. We'd love help with any of the items if you are interested.

Closing in favor of above mentioned issues.

[2017-06-20 12:43] #197 closed

[2017-06-20 13:40] luftywiranda13 commented on #200
i did it on https://github.com/styled-components/polished/pull/196/commits/53261fdb8ab922d725792f5b78b6c1cbdebe6f88

[2017-06-20 13:47] bhough commented on #200
@luftywiranda13 yep I created #202 for that.

[2017-06-21 08:11] nikgraf commented on #104
Just left a comment on the PR. We are going to merge this asap.

[2017-06-21 08:11] #104 closed

[2017-06-21 08:15] nikgraf commented on #172
Makes sense!

[2017-06-21 08:22] nikgraf commented on #175
@bhough why deprecate `toColorString`? While not heavily used I think it's useful for people doing advanced color manipulation.

[2017-06-21 08:30] nikgraf commented on #174
@thejameskyle looking forward to it - do you have rough idea when you it's ready for prime time? :)

[2017-06-21 08:53] nikgraf commented on #177
@bhough since all of them are checked, can we close this issue?

[2017-06-21 10:16] bhough commented on #177
@nikgraf Yeah for now, I may tweak the precommit script but that can be done separately.

[2017-06-21 10:16] #177 closed

[2017-06-21 10:28] bhough commented on #152
@Morganjackson we have merged this in for v2 #185

[2017-06-21 10:32] bhough commented on #175
@nikgraf just my misunderstanding of what replacing it with `hslToColorString` and `rgbToColorString`. We can remove it from this list.

[2017-06-21 11:28] #200 closed

[2017-06-21 11:31] bhough commented on #195
Addressed by #203

[2017-06-21 11:31] #195 closed

[2017-06-21 11:58] bhough commented on #167
Addressed by #170

[2017-06-21 11:58] #167 closed

[2017-06-22 16:56] domwashburn commented on #134
I know this is closed, but the comment the ESLint [issue 782](https://github.com/benmosher/eslint-plugin-import/issues/782) was entirely unhelpful and simple says...

will this be fixed?

[2017-06-28 12:37] sergeyzwezdin opened #206 "Contrast support"
It would be useful to have `contrast` mixin support out of the box.

This is how it's implemented in SASS: http://compass-style.org/reference/compass/utilities/color/contrast/

[2017-06-28 16:16] bhough commented on #206
Thanks for the issue @sergeyzwezdin. Good news is this has already been implemented as part of V2 #185

[2017-06-28 16:16] #206 closed

[2017-06-28 21:32] Andarist opened #207 "[docs] stand-alone imports advice"
When using rollup or webpack2+ does this advice really matters? Im not 100% sure, but according to [simple example](https://goo.gl/EM9UpH) even importing all with a wildcard wont prevent es module aware bundlers to statically analyze imports and their usage, so proper tree shaking should be still possible.

[2017-06-29 07:37] sergeyzwezdin commented on #206
Cool. When v2 will be released?

[2017-07-05 11:09] bhough commented on #207
Thanks for raising this @Andarist. I will revisit this as part of #205.

[2017-07-09 17:24] bhough commented on #206
@sergeyzwezdin Hopefully in the next couple weeks. It is likely that I will cut the scope of V2 to get it out sooner, as things like this, css-locks, and camelCasing are in high demand.

[2017-07-12 11:27] emattias opened #209 "[Feature Request] Font-Smoothing Mixin"
How about adding a cross browser font smoothing helper?

Relevant links:
- https://gist.github.com/hsleonis/55712b0eafc9b25f1944
- https://codepen.io/gregh/pres/PWwoVd
- https://davidwalsh.name/font-smoothing
- https://medium.com/@MateMarschalko/improving-font-rendering-with-css-3383fc358cbc

[2017-07-12 15:36] bhough commented on #167
✨ polished 1.3 moves to camel-casing and is out now: https://github.com/styled-components/polished/releases/tag/v1.3.0

[2017-07-12 19:27] MrLoh opened #211 "[Feature Request] Adopt HCL Color Space For Color Modules"
Hi, first of all. I'm a huge fan of this project. This is related to https://github.com/styled-components/polished/issues/148

But you might want to go even further and just adopt [HCL](https://en.m.wikipedia.org/wiki/HCL_color_space) color space as a replacement for HSL, which has similar problems because it has nothing to do with our perception of colors which ultimately matters for our UI desig

[2017-07-14 00:58] chhuang commented on #180
How about this:

[code]

Also tried:

[code]

[2017-07-14 08:49] bhough commented on #180
@chhuang You are getting that error because you are passing it a function as opposed to just the color prop. It should look like this:

[code]

[2017-07-18 06:09] chhuang commented on #180
Thanks @bhough, that makes sense.

[2017-07-19 08:09] emattias opened #212 "Convert between units helper"
I would have use for a helper that converts between units.

Relevant links:
- https://2012.heygrady.com/blog/2011/12/21/length-and-angle-unit-conversion-in-javascript/
- https://github.com/heygrady/Units

[2017-07-20 15:18] joetidee opened #213 "Is there a helper for 'display'?"
I have this equivalent CSS:
[code]

I was hoping there was a helper 'display' that would work like this:

`display('flex')`

[2017-07-20 15:43] bhough commented on #213
@joetidee We don't provide this (or most other prefix only helpers) because most of the JS-in-CSS libraries take care of vendor prefixing on their side.

[2017-07-20 15:44] bhough commented on #211
@MrLoh We'd definitely be interested in adding HCL color space and are open to PRs/Discussion on the best way to do so.

[2017-07-20 16:30] joetidee commented on #213
ok, thanks.

[2017-07-20 16:30] #213 closed

[2017-07-23 08:44] MrLoh commented on #211
@bhough you don't want to add any external dependencies, right? Because otherwise chroma.js seems to be a really small and powerful library for advanced color manipulation in more professional color spaces like HCL. It would of course be possible to just copy some of the code from chroma, but that's generally not such a good practice I'd say.

[2017-07-23 18:39] btmdave opened #214 "Using props in rbga"
We're trying to use `rbga` with props provided by styled-components theme provider.  I.e.:

`background: ${rgba(props => props.theme.white, 0.7)};`

This gives an error `Passed invalid arguments to rgba,...` Is there anyway around this?

[2017-07-24 01:51] bhough commented on #214
Hi @btmdave, yes you can use props in any of our helpers, just need to tweak your syntax. You are getting the error because you are passing a method as opposed to the prop itself. See: https://github.com/styled-components/polished/issues/180#issuecomment-315307164.

Let me know if you have any other questions.

[2017-07-24 01:51] #214 closed

[2017-07-24 01:53] bhough commented on #211
@MrLoh we definitely don't want to add any external dependencies. Also our color methods work differently than chroma.js as ours are more functional (composable) where theirs take a more object oriented approach. So why you can certainly look to their approach to inspiration, we'd need to implement it differently based on the need for them to be composable.

[2017-07-24 08:12] MrLoh commented on #211
Hey @bhough of course chroma uses a more object oriented aproach, but I think it could as easily be wrapped in a more functional API.

What exactly do you mean by composable,
I mean I get the FP term, but I haven't seen function composition in polished, so what exactly is your API design philosophy.

A more object oriented approach like the one from chroma of course also has some big benefits espe

[2017-07-24 10:48] bhough commented on #211
@MrLoh All our color methods are composable like this:

[code]

One of the main reasons we don't go object-oriented like chroma is that it requires that items like colors in themes have to then be instantiated as chroma color objects before they can be manipulated. Which means either converting an entire theme over, or doing it one off whenever you need to manipulate a color.

The reason we like c

[2017-07-24 12:52] bhough commented on #207
@Andarist Importing with the wild card has the result currently with webpack/rollup because of how tree-shaking works in both.

However, as browsers start to properly implement ES6 modules (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import) `import * as polished from 'polished', would result in the entire library being imported as the spec is currently written.

I

[2017-07-24 12:52] #207 closed

[2017-07-24 12:53] bhough commented on #178
This will be addressed by #205

[2017-07-24 14:10] Andarist commented on #207
@bhough Fair point. It got me thinking though - actual module file will have to be downloaded anyway (as a whole) and probably even parsed so only a 'cherry-picked' function can be imported from the other module, right?

[2017-07-24 14:22] bhough commented on #207
@Andarist my guess is that a build step will be required, but how we build will be quite a bit different. Could be possible it identifies what modules need to be "shipped" without the concept of bundling them in the way we think today. Code-splitting and http2 will also continue to have an impact on this. My hope would be that the solution would follow the modules spec without doing it's own addit

[2017-07-31 10:07] sagiavinash opened #223 "helper for multiplying font-sizes with units"
Feature Request: (want to contribute)

i am converting my sass codebase to styled components and i use these sass helpers to multiply pixel font sizes

currently to achieve this, i did
[code]

a generic helper can be something like this
[code]
any thoughts on this?

[2017-08-01 14:29] ravinggenius opened #224 "Calculating color lightness with YIQ"
** This is a feature request. **

- `polished` version: any
- `JSS-in_CSS` library and version: na
- Any relevant JS library and version: na

I have found [YIQ](https://24ways.org/2010/calculating-color-contrast/) to be an excellent algorithm for calculating the apparent lightness of a color. I would like to have a function `isLight(color)` which implements YIQ (just returns `true` or `false`). A

[2017-08-01 18:59] bhough commented on #224
Hi @ravinggenius I believe we already have a solution about to be released for this using the W3C spec for contrast. Take a look at #185 and to #163 and let me know if that handles your use case. Hoping to get those finished up and merged in this week.

[2017-08-01 20:23] ravinggenius commented on #224
I don't think #192 is using the same algorithm (YIQ), but the goal appears to be the same. Really what I'm after is the ability to pass in a background color and know if I should use dark or light text.

I'm closing this with the assumption #192 will work for me, though I would prefer arguments to customize the return value.

[2017-08-01 20:23] #224 closed

[2017-08-02 05:55] bhough commented on #224
@ravinggenius Are you wanting to customize the color format you want returned?

[2017-08-02 20:39] ravinggenius commented on #224
Not really. I was thinking it might be useful to accept optional values to return instead of always `black` or `white`. So instead of this...

[code]

Allow passing (optional) dark/light colors, but default to `black`/`white`...

[code]

[2017-08-04 22:26] stephenway opened #226 "Passing a map key to a darken function"
- `polished` version: 1.3.0
- `JSS-in_CSS` library and version: styled-components 1.1.2
- Any relevant JS library and version: React 15.4.1
- Started with React Boilerplate

Mixin/Helper/Shortand you were using and how you were using it:

[code]

[code]

What you are seeing:

![image](https://user-images.githubusercontent.com/38894/28989235-e2ef82de-7928-11e7-9f02-307b6c5ec958.png)

What you expec

[2017-08-04 22:44] #226 closed

[2017-08-04 22:45] stephenway commented on #226
I narrowed it down to my `themeProp` function not returning the color.

[2017-08-05 09:41] LawJolla commented on #224
@ravinggenius I thought about that implementation (I normally use gray instead of black), but given how easy it is to write a wrapper function, I think the simplicity of black or white is clearer.

`const colorWrapper = readableColor(color) === '#000' ? '#333' : '#999'`

[2017-08-08 15:51] bhough commented on #201
Addressed by #216

[2017-08-08 15:51] #201 closed

[2017-08-11 18:02] bhough opened #229 "Documentation auto-generation breaks links when done from a fork"
When a contributor builds the docs from a fork, it replaces all the links with links to their fork instead of the main repo. These should continue to point to the main repo. @mxstbr would love any insights here since you did a lot of this work.

[2017-08-11 23:43] wtgtybhertgeghgtwtg opened #230 "Consider adding a sanitation helper."
`styled-components` [suggests that input be sanitized](https://www.styled-components.com/docs/advanced#security).  While some of it will have to be left to the individual developer, `polished` could have a function or two to help validate input, like a regex that determines whether or not some input is a valid hex or rgb color.

[2017-08-14 09:58] mxstbr commented on #230
I like that idea, what do you think @bhough? I'd love to be able to point people to polished as a means to sanitize/verify some inputs.

[2017-08-16 06:19] bhough commented on #230
Definitely open to this as long as we do it in a way that isn't specific `styled-components`. @mxstbr any initial thoughts on the type of issues we need to look out for, or common types of user input we need to sanitize?

[2017-08-17 07:38] nelix commented on #230
I'm interested in this, but I think some more definition is needed.
Are we just talking about user input that would end up in css? Or are we talking about a more generic data validation library for form inputs?
If we just want to validate colors, urls, etc we already have parseToHsl like functions that might be safe? Or maybe could be made safer? A url sanitize function (blocking other css values,

[2017-08-17 17:36] bhough commented on #230
@nelix

Let's see if I can answer all these questions:

1. We only want to do this for user-provided CSS values and don't want to be concerned with being a general input sanitizer.
2. For starters I think we should stick to sanitization vs. validation. So making sure something is a sanitized value vs making sure something is a valid color for example. I'm still putting thought into how I want to h

[2017-08-22 16:12] emattias opened #232 "Transition helper to write dry transition declarations"
I often want to give 2 or more properties the same transition but I don't want to give it to all properties.

My thinking is that the function takes an array of css properties and the transition string to apply to all properties. Something like this:

[code]

Not sure if the transitions settings to be applied to all properties should be just a string to suffix (like in my example above) or separat

[2017-08-23 16:11] bhough commented on #232
@emattias definitely think this is something we can/should support. We could actually build this into the existing transition shorthand, by type checking the initial arg and if it is an array apply the next argument to all those properties. API would look something like this:

[code]
Is this something you'd be interested in putting together a PR for?

[2017-08-24 17:13] AndersDJohnson opened #234 "Add helper to add `px` to numbers"
It'd be nice to have a small helper that would convert numbers into strings with `px` suffix, but leave strings in-tact (assuming they match `^/-?\d+\s*px$/`, otherwise perhaps warn or error). Like the inverse of `stripUnit`. Then consumers could pass pixel props as either numbers or strings.

Something like [add-px](https://www.npmjs.com/package/add-px) or [pixelify](https://www.npmjs.com/package

[2017-08-26 01:39] bhough commented on #202
#222 gives us first-class Flow Support in https://github.com/styled-components/polished/releases/tag/v1.5.0 with zero configuration. This issue is still valid as libdefs will give us better type-ahead support in most code editors.

[2017-08-26 18:39] bhough commented on #174
Addressed by #236

[2017-08-26 18:39] #174 closed

[2017-08-27 08:47] sagiavinash commented on #223
@bhough any decision or future course of action. I am new to OSS can you guide me?

[2017-08-28 18:20] bhough commented on #223
@sagiavinash sorry for the delayed response. So it seems like the helper that would be useful is a general one that allows us to do math with CSS values generally as you've described for the specific font use case. Other issues like #234 are also trying to get at this problem.

So I think a good first step would be to talk through a proposed api for a more general set of helpers for doing math on

[2017-08-28 18:21] bhough commented on #234
@AndersDJohnson thanks for this issue. It is something we've started discussing as part of #223 if you want to join in on that discussion. Going to close this in favor of that discussion.

[2017-08-28 18:21] #234 closed

[2017-08-28 19:53] johnryan opened #239 "Flow unable to find polished module"
- `polished` version: 1.6.1
- `JSS-in_CSS` library and version: styled components 2.1.2
- Any relevant JS library and version: flow-bin 0.52

For some reason flow is having issues with `polished`. I've tried adding `.*/node_modules/polished/.*` but it seems to have no effect.

My whole ignore section for completeness

[code]

What you are seeing:
[code]
What you expected to see:

Flow should not h

[2017-08-29 04:30] bhough commented on #239
@johnryan it is because of `.*/node_modules/.*` inside your ignore block. Anything that comes with types onboard in your `node_modules` folder (including polished) will be ignored: https://github.com/facebook/flow/issues/2092

The reason that adding `.*/node_modules/polished/.*` doesn't do anything is because that is not an error from processing polished through flow but an error from flow itself

[2017-08-29 04:43] johnryan commented on #239
@bhough thanks for the response. I am actually using `flow-typed` to generate empty stubs but for some reason it doesn't generate the empty stub for `polished` (regardless of the flowconfig setup, even though it does for other libraries). Does that sound like an issue with `flow-typed` or is there some other config needed to get it to generate that stub?

[2017-08-29 04:52] bhough commented on #239
@johnryan of course 👍

So `flow-typed` only installs stubs for modules that a) are not typed and b) it doesn't have libdefs for in it's repo. Because polished is typed out of the box it won't generate a stub.

You can force this behavior with `flow-typed create-stub polished@1.6.x`. However, I would suggest fixing your ignores not to include `polished` so you get the types we have already built in

[2017-08-29 05:02] johnryan commented on #239
@bhough got it, that makes sense. Removing those ignores seems to fix the import issue but introduces a whole bunch of other flow errors. For example:

[code]

Is this an issue with the `.flowconfig` or an unrelated typing issue in polished?

[2017-08-29 05:04] bhough commented on #239
@johnryan try upgrading to the latest flow 0.53.1 I believe it is, and see if those go away. Not seeing those on my end.

[2017-08-29 05:09] johnryan commented on #239
@bhough that resolved the issue thanks!

[2017-08-29 05:09] #239 closed

[2017-08-29 05:12] bhough commented on #239
@johnryan no problem. Glad I could help. Flow is still quite finicky for third party libraries, especially moving between versions.

[2017-08-30 03:21] signallinden opened #240 "Typescript and tsgen should be devDependencies instead of dependencies"
I recently brought `polished` into a project and noticed a lot more dependencies being installed than previous versions.

#236 introduced `typescript` and `tsgen` as __dependencies__ rather than __devDependencies__. This may have been a mistake, as neither packages are needed to run `polished`.

Affected versions: 1.6.0, 1.6.1

[2017-08-30 07:19] bhough commented on #240
Thanks for catching this @signallinden. Fixed by 1.6.2 (#241)

[2017-08-30 07:19] #240 closed

[2017-08-31 04:59] #148 closed

[2017-08-31 16:59] souporserious commented on #148
Great to see `getLuminance` merged 🎉  any status on a `setLuminance` function? I might be able to squeeze in a PR this week.

[2017-08-31 18:24] bhough commented on #148
@souporserious It is on my radar but haven't put any thought or work into yet. Have a few things I want to tackle before that, but would definitely accept a PR for it.

[2017-09-03 20:54] RafalFilipek opened #243 "Support string input for number values in color methods."
- `polished` version: 1.7.0

[code]

What you are seeing:

As you can see if `amount` parametr is provided as `string` in `lighten` function you will get `#NaNNaNNaN`.

What you expected to see:

Accept string as a valid parameter type for float parameters or throw error.

Reproduction:

http://jsbin.com/fadevukoji/edit?js,console

Thanks!

[2017-09-04 07:54] morajabi commented on #243
@mxstbr Which behaviour do you prefer?

[2017-09-04 08:33] mxstbr commented on #243
Couldn't we just `parseFloat(input, 10)` all the inputs and throw an error if it returns NaN or something? I'd rather we err on the side of accepting many inputs, /cc @bhough

[2017-09-04 08:39] morajabi commented on #243
@mxstbr Sounds good to me, but one question, why should we parse strings too? Is there any special case?

[2017-09-04 08:53] mxstbr commented on #243
Why not? 🤷‍♂️ It's easy to implement, so why not do it? It's nicer for users for sure.

[2017-09-04 10:16] morajabi commented on #243
@mxstbr You're right, just thought if it might be bad practice and we don't want to encourage users to do it. But now, I don't think it's bad practice anymore :)

[2017-09-04 10:55] jozsefs opened #244 "First argument of mix() is not optional"
- `polished` version: 1.7.0

Mixin/Helper/Shortand you were using and how you were using it:

[code]

What you are seeing:

[code]

What you expected to see:

[code]

The first argument of the `mix()` function (the `weight` argument) is not "optional" however in the docs it's explicit that it should be optional and it's implied from the code.
It is optional in the sense that if you pass `undefined

[2017-09-04 15:27] morajabi commented on #244
@mxstbr Sorry, how can we have multiple definitions for a single function in Flow?

[2017-09-04 16:42] bhough commented on #243
We’ve been pretty liberal in allowing most types of inputs and having polished hande them gracefully, so I don’t see any reason not to do the same here.

At some point we should consider a composable way to do this, so we aren’t repeating the same logic in every module for transforming inputs to the proper types.

[2017-09-04 16:45] bhough commented on #244
@jozsefs This is a slightly annoying side effect of making the color methods composable. Since the color getting passed in from another color method is passed as the last argument when composing, we have to put these values first. Let me think a bit on the best way to handle this.

[2017-09-04 16:54] bhough commented on #243
@mxstbr @nikgraf another point of discussion is if we want to continue to provide custom error messaging for incorrect types or start to rely more on Flow/TypeScript to cover that.

[2017-09-04 19:28] morajabi commented on #244
@bhough Isn't it better to have another issue/discussion specifically on API design topic?

[2017-09-04 19:47] bhough commented on #244
@morajabi we won’t change the API for these, it is too ingrained in how they all work. This is specifically how to handle the odd case of `mix` since it is the only one off the top of my head that is trying to set a default for the first argument.

[2017-09-13 14:28] emattias opened #246 "Unneccessary enforcement of string type?"
I am using `polished` with `glamorous` so I have all my px values as numbers which works (atleast for my use cases), so why are string enforced? See this line to see what I mean:

https://github.com/styled-components/polished/blob/c07f57ea89da1820e4cb619cccefcced74b60614/src/helpers/directionalProperty.js#L52

It could be changed to `...values: Array<?string | ?number>` no?

[2017-09-14 05:23] dlwalsh commented on #246
This is coming in version 2. See https://github.com/styled-components/polished/pull/166

https://github.com/styled-components/polished/blob/0b9f27fa8f41419117470ec90ac5555d152b6f0a/src/helpers/directionalProperty.js#L50

[2017-09-18 00:35] bhough commented on #230
@mxstbr is this still a necessity given the current recommendation to use: https://github.com/mathiasbynens/CSS.escape?

[2017-09-23 14:12] zhaojinxiang opened #249 "Keyframes animation needed."
I want write:
[code]

So I wrote such js code:

[code]

Is there any Keyframes animation function in polished?

------------------------------------------------

My now solution is import 'foo.style.css';
[code]
and
[code]

[2017-09-25 20:47] bhough commented on #246
@emattias @dlwalsh I will probably be bringing this into v1 in the next week or 2 given that v2 has stalled some. Most non breaking changes from that branch will be ported over to v1 (already don't that with some things)

[2017-09-28 11:21] jbarco opened #250 "Unable to build polished on Windows"
Hi,
I forked the project and build it on a Mac successfully (apart from some errors regarding the document generation). However, if I try to build it on a Windows machine, it crashes at the next command:

`tsgen "lib/**/*.js.flow" --ignore "lib/**/_*.js.flow"`

- OS: **Windows 7**
- NodeJs version: **8.6.0**
- npm version: **5.3.0**

[code]

[2017-09-28 21:56] bhough commented on #250
@ForbesLindesay any ideas on this one?

[2017-10-08 02:55] bhough commented on #249
@zhaojinxiang this is something that is usually handled by the css-in-js library. Here is styled-components documentation for example.: https://www.styled-components.com/docs/basics#animations

[2017-10-08 02:55] #249 closed

[2017-10-08 02:55] bhough commented on #230
@wtgtybhertgeghgtwtg closing this with https://github.com/mathiasbynens/CSS.escape as the recommended solution for this.

[2017-10-08 02:55] #230 closed

[2017-10-08 03:49] bhough commented on #246
Addressed by #255

[2017-10-08 03:49] #246 closed

[2017-10-12 14:50] cloud-walker opened #256 "Ellipsis mixin creating inline-block phantom space in Chrome/Firefox."
- `polished` version: 1.8
- `styled-components` library and version:  2.2.1
- Any relevant JS library and version: React 16

Reproduction: https://codesandbox.io/s/9j32z5z7p

[2017-10-13 06:07] bhough commented on #256
@cloud-walker what browser/version are you seeing this in? Here is what I see in the latest Chrome: http://d.pr/i/Gk93KN

[2017-10-13 06:15] cloud-walker commented on #256
I see the same exact thing, try to add a border to the `DropdownItemBroken`

The broken one has an "invisible" margin on top and bottom.

Ref: https://css-tricks.com/fighting-the-space-between-inline-block-elements/

[2017-10-13 06:47] bhough commented on #256
@cloud-walker I will have to do some testing on this. Some browsers this works fine in (such as Safari), others treat the ellipsis as a space. `inline-block` is part of the original Bourbon mixin this was ported over from, so I hesitate to change it without seeing what impact it has on other browsers first.

[2017-10-13 08:54] cloud-walker commented on #256
I think there is no clear solution to this.

Avoid using `display: inline-block` exposes the mixin to external implicit display (such span, div, etc).

`display: inline-flex` fix this, but is not backwards compatible

[2017-10-13 14:38] DavidBachmann opened #257 "Webpack file loader + fontFace"
I am unable to require font files with webpack's file loader because `fontFace` expects a file name without an extension resulting in double extensions.

I was thinking of doing a PR that would allow `fileFormats: null` and skip appending file extensions.
Any other ideas?

- `polished` version: 1.8.0
- `JSS-in_CSS` library and version: styled-components 2.1.2
- Any relevant JS library and version:

[2017-10-13 17:29] bhough commented on #256
Agreed, after digging into this further, the inline-block causes more good than harm (especially, since it is inconsistent across browsers). Feel better about leaving it at this point, then modifying it.

[2017-10-13 17:39] bhough commented on #257
@DavidBachmann I would definitely be interested in seeing a PR. One question I have is if you wanted to load multiple font formats using this method, would we also need to modify `fontFilePath` to accept an array?

[2017-10-13 17:46] cloud-walker commented on #256
Then what do you think about a combination of `inline-block` + `inline-flex`?

Like that:

[code]

Older browsers will fallback to the inline-block solution!

[2017-10-14 02:53] diegohaz opened #258 "fit mixin"
That's something I use often on my components:
[code]

It would be nice to just use a polished mixin:
[code]

For reference, Polymer has a `--layout-fit` mixin that does exactly the same: https://github.com/PolymerElements/iron-flex-layout/blob/cc15e7bcb77f08795bf11065cb2db369abe76591/iron-flex-layout.html#L355-L361

If you agree with that, I can submit a PR. :)

[2017-10-14 19:09] bhough commented on #258
@diegohaz We would need to see what the demand is. In order to keep the library from getting too overloaded, we let users vote on modules and start grabbing the ones with the most 👍  and/or convo to work on.

FWIW, the `position` shorthand can get you pretty close `${position('absolute', [0])};`

[2017-10-16 09:40] DavidBachmann commented on #257
@bhough Good question. My initial thought was if I opted out of the `fileFormats` helper it would be up to me to load the appropriate font formats.

[2017-10-16 18:06] ForbesLindesay commented on #250
Not sure, and I'm afraid I don't have easy access to a windows build to test it on.  If you narrow it down to something in tsgen I'd love a pull request :)

[2017-10-17 19:26] bhough commented on #257
@DavidBachmann Agreed, right now we wouldn’t be able to do that, since it assumes a single file path and uses the array of extensions to generate the list. We’d need to generate that list from an array on the `fontFilePath` key.

[2017-10-24 20:52] zaboco opened #261 "Mixin typescript definitions are not compatible with styled-components"
- `polished` version: 1.8.1
- `JSS-in_CSS` library and version: styled-components 2.2.1
- Any relevant JS library and version:
  + React 16.0.0
  + Typescript 2.5.3

#### Mixin/Helper/Shortand you were using and how you were using it:

- I was using `normalize`, but any other mixin that returns an `Object` has the same issue.

[code]

#### What you are seeing:

When compiling this code with Typesc

[2017-10-25 07:06] mxstbr commented on #261
Duplicate #1123

[2017-10-25 07:06] #261 closed

[2017-10-25 21:51] artisologic opened #262 "Over 90% of `normalize` disappears when building an app in production mode"
# TLDR
I believe #253 has introduced unwanted `/*#__PURE__*/` annotations on certain lines of code, resulting in `UglifyJS` deleting said lines when building in production mode.

If you want to follow the process I went through to get to this, continue reading 👇

---

I seem to have hit a very weird issue that only occurs when I build my app in production mode.
I am using a `create-react-app` gene

[2017-10-26 17:29] bhough commented on #262
@artisologic Thanks for taking the time to provide all these details. I will take a look at this tonight and see if I can work with @Andarist to come up with a quick solution.

[2017-10-27 08:13] Andarist commented on #262
One quick fix for this in polished itself would be to use `loose` mode for the babel transpilation (which I think should be used like most of the time). It won't use calls to `defineProperty` when transpiling computed keys but rather simple assignments - it will also be slighlty more performant.

Of course Im happy to provide a fix for this in my plugin too, just need to figure out what's the best

[2017-10-27 16:33] klshriharsha opened #264 "Shorthand for border properties"
I use this shorthand for border in CSS a lot.
[code]
It would be really convenient to have a function like this.
[code]
That outputs something like this.
[code]
And/Or functions for each of the four directions like this.
[code]

[2017-11-03 03:06] ng-hai opened #266 "How to use CSS `currentColor` value?"
- `polished` : `^1.8.1`
- `styled-components` : `^2.2.0`
- `react` : `16`

### Mixin/Helper/Shorthand you were using and how you were using it:

[code]

### What you are seeing:

`Uncaught Error: Couldn't parse the color string. Please provide the color as a string in hex, rgb, rgba, hsl or hsla notation.`

### What you expected to see:

I want it returns a color similar to `lighten(0.8, 'rgba(0,

[2017-11-04 04:26] bhough commented on #266
@ng-hai What value are you trying to represent with `'currentColor'`. The reason you are getting that error is because the string `'currentColor'` is not valid color value. Do you have a variable `currentColor` you are trying to use?

[2017-11-04 18:57] ng-hai commented on #266
@bhough `currentColor` is a native CSS variable; you can use this value to indicate you want to use the value of color for other properties that accept a color value: borders, box shadows, outlines, or backgrounds.

Opera first supported this value in 2009, since then, Firefox 3.5+, Chrome 1+, and Safari 4+.

[code]

In the example above, `currentColor` value is `red`.

[2017-11-04 22:12] bhough commented on #266
@ng-hai Ah, the example above didn't have a color set in the cascade, so wasn't sure what you were representing with it.

Why I asked if it was supposed to be a variable is because right now `polished` does not have a good way to interact with CSS variables, since they are evaluated outside of the JavaScript.

For example, with `currentColor` our JavaScript code doesn't know what it's value is (as

[2017-11-05 17:09] #266 closed

[2017-11-05 20:50] laurenskling commented on #202
I see all the `.flow` files in my node_modules, but still flow gives me:
[code]
what am i mssing?

[2017-11-05 23:21] Undistraction commented on #258
I did something similar with [Position](https://github.com/Undistraction/position) - alongside the standard positioning, it added two other ways of setting position. This kind of abstraction feels really natural to use.

- Fill - (fill | horizontal | vertical)
- Offset (offset | horizontal | vertical)

Fill
[code]
Fill - horizontal
[code]
Fill - vertical
[code]

Offset(v)
[code]

Offset - horizont

[2017-11-06 16:39] FerryKobus opened #269 "Polished in project with Flow (Required module not found) error"
- `polished` version: 1.8.1
- `JSS-in_CSS` library and version: 2.2.1
- Any relevant JS library and version: react: 16, flow-bin: 0.54.0, flow-typed: 2.2.0

We use flow-typed to generate the stubs automatically with `flow-typed install`

Line of code that breaks in flow:
[code]

When running flow, i get an error that polished module is not found.
I've tried adding polished to the .flowconfig [igno

[2017-11-06 18:00] relekang commented on #269
If you ignore polished in flowconfig flow will not find it unless you have an libdef. Since there are no libdef for it yet stubbing is necessary.

[2017-11-06 19:14] FerryKobus commented on #269
So the only way to solve this problem is to manual create the stub?

[2017-11-06 21:14] tobilen opened #270 "Feature Request: Calculating with unit-suffixed values"
If i want to perform arithmetic on values that have a unit suffix, i can do it like so in sass:
[code]

while there isnt really an easy way to make this work in js, polished could provide helper functions that take care of the necessary regex to strip the unit, perform the calculation and return a the result as a string with the original unit. the main benefit here would be that the unit type is r

[2017-11-06 21:26] bhough commented on #269
@FerryKobus `polished` has first class flow support and should not need stubbing or flow-typed. Flow-Typed was intended for libraries without native flow support. I'm not able to look right away, but a good place to start might be that when you create stubs for all your dependencies, it may keep flow from picking up the native definitions that are built-in. Maybe try removing the `polished` folder

[2017-11-06 21:39] bhough commented on #264
Per @klshriharsha in #265

[2017-11-06 22:18] bhough commented on #262
@artisologic `1.8.2` is now out with a move to loose mode that should fix this. Please let me know if you run into any further issues.

[2017-11-06 22:18] #262 closed

[2017-11-06 22:20] artisologic commented on #262
@bhough Great! Thanks for the fix, I will test that out tomorrow and report.

[2017-11-07 08:07] thabemmz commented on #269
I run into the same issue. The `polished` folder isn't included in the `flow-typed` folder, so it does not seem to be a problem with `flow-typed`.

**This is the setup I am using:**

`polished` version: 1.8.1
`JSS-in_CSS` library and version: 2.2.1
Any relevant JS library and version: `react`: 16, `flow-bin`: 0.54.0, `flow-typed`: 2.2.0

My flowconfig:
[code]

When running `flow-typed install`, th

[2017-11-07 08:27] thabemmz commented on #269
We resolved this issue. It was being caused by the `.*/lib/*` line in the ignore from `.flowconfig`. This is the `.flowconfig` that works for us:

[code]

[2017-11-07 08:27] #269 closed

[2017-11-07 08:28] FerryKobus commented on #269
Thanks @thabemmz that resolves the issue for me too!

[2017-11-07 09:47] aga5tya commented on #264
@bhough This looks like a valid use case, I too use border shorthand at various places and this helps with tools like fela and styletron to yield proper atomic class names. Would love to hear if others have an alternative way of handling this use case, esp with object style libs?

[2017-11-07 14:25] artisologic commented on #262
@bhough I can confirm it's fixed the issue for us. Thanks!

[2017-11-13 20:12] jsamr opened #276 "[Typescript] Mismatch between type definitions and effective module export policy"
- `polished` version: 1.9.0
- `JSS-in_CSS` library and version: *not relevant*
- Any relevant JS library and version: Typescript 2.5.3 or 2.6

**Mixin/Helper/Shortand you were using and how you were using it:**

[code]

**What you are seeing**:

`Readable color function: undefined` printed in the console

**What you expected to see:**

`Readable color function: function...` printed in the console

[2017-11-20 16:45] JasonMHasperhoven commented on #258
I was about to create my own issue/proposal about this and then I found yours. I agree that this is quite common, hence useful for polished to include.

I used to call this mixin `fill` before in my own projects, but have come to realise that `cover` is probably the best name for it since it's consistent with `cover` for `background-size`.

[2017-11-26 23:12] stereobooster commented on #171
This is something similar https://github.com/kyleshevlin/shevyjs

[2017-11-28 07:20] oyeanuj commented on #171
Also, being able to set global fluid typography using the popular SASS mixins (https://css-tricks.com/snippets/css/fluid-typography/) would be super helpful!

[2017-12-21 23:49] stephenway opened #279 "Rollup isn't processing spread operator in normalize.js"
- `polished` version: master

Mixin/Helper/Shortand you were using and how you were using it:

I wanted to setup my fork so I could begin contributing to the project.

[code]

What you are seeing:

![image](https://user-images.githubusercontent.com/38894/34279362-4d0eade4-e665-11e7-8423-a15929fab701.png)

This leads me to believe that even though rollup has a spread operator plugin, it still fails

[2017-12-29 18:44] bhough commented on #279
Sorry @stephenway been on vacation and traveling for the past few weeks. I will take a look at this this weekend, and initial pull worked for me so I need to see what might be going on with your setup or if we have some version off in the lockfile that is not loading proper plugins, or something of that sort.

[2018-01-03 10:26] philholden opened #281 "Docs folder in npm package with OFL fonts"
Does the docs folder need to be part of the npm dist?

It introduces an unnecessary licence in the dist:
Open Font License (OFL)

[2018-01-03 21:06] loganpowell commented on #171
Have these issues been addressed in polished as of yet?

[2018-01-03 22:57] bhough commented on #281
@philholden this was something the community requested so they could have offline access to the documentation.

[2018-01-04 09:30] philholden commented on #281
Thanks for fast reply I appreciate that.

[2018-01-04 09:51] #281 closed

[2018-01-07 10:29] stevenbenisek commented on #279
I can confirm this issue exists when running `npm install`. Because of *yarn.lock* you won't run into the same issues using `yarn install`. However, if you delete *yarn.lock* running `yarn install` will cause the same error as `npm install`. Taking a closer look at the newly generated *yarn.lock* reveals that a lot of dependencies are installed with a different version compared to the current lock

[2018-01-07 11:52] stevenbenisek commented on #279
Found the issue.

With the current lockfile [rollup-plugin-commonjs 8.2.1](https://github.com/rollup/rollup-plugin-commonjs/tree/v8.2.1) is installed.
Without lockfile [rollup-plugin-commonjs  8.2.6](https://github.com/rollup/rollup-plugin-commonjs) is installed.

In 8.2.6, *src/mixins/normalize.js* is parsed by [Acorn](https://github.com/acornjs/acorn): https://github.com/rollup/rollup-plugin-com

[2018-01-07 11:58] stevenbenisek commented on #279
I'm happy to raise an issue at https://github.com/rollup/rollup-plugin-commonjs/. Untill this gets fixed I suggest locking the version to 8.2.1 in the polished package.json to prevent future failure:

[code]

instead of

[code]

[2018-01-07 12:01] stevenbenisek commented on #279
Are you ok with this approach @bhough?
If so, I'll create a PR.
Maybe we should document why the version is locked?

[2018-01-07 15:21] bhough commented on #279
@stevenbenisek Thank you for digging into this, I suspected it might be something like that.

I'm fine with this approach if you want to create a PR as a fix (so it bumps the patch version).

That would be awesome if you could raise an issue on the plugin and link it back here, and we can use that as documentation.

[2018-01-08 21:19] stevenbenisek commented on #279
Referencing https://github.com/rollup/rollup-plugin-commonjs/issues/275

[2018-01-08 23:42] #279 closed

[2018-01-09 18:51] stephenway commented on #279
@stevenbenisek Thanks for straightening this out!

[2018-01-12 19:51] #270 closed

[2018-01-17 00:18] mjsisley opened #283 "linear-gradients helper"
It would be nice to have a `linear-gradient` helper within polished.

https://github.com/JSBros/uigradients is a utility that does this (for pre-made, community curated gradients), however their bundling leads to very large bundle sizes.

It would be nice if a linear-gradient utility was brought into `polished` (and could also make use of the bundling, `babel-plugin`, etc that come with this centr

[2018-01-17 00:18] mjsisley opened #284 "Add Linear Gradients helper"
It would be nice to have a `linear-gradient` helper within polished.

https://github.com/JSBros/uigradients is a utility that does this (for pre-made, community curated gradients), however their bundling leads to very large bundle sizes (https://github.com/JSBros/uigradients/issues/23).

It would be nice if a linear-gradient utility was brought into `polished` (and could also make use of the bundl

[2018-01-17 00:19] mjsisley commented on #284
I believe the stars on that project should imply community interest.

[2018-01-17 00:30] #283 closed

[2018-01-17 17:20] lcsrinaldi opened #285 "Use case for sending numbers to position shorthand"
Mixin/Helper/Shorthand you were using and how you were using it:

The shorthand is `position`

[code]

---

My issue is not to report a bug, is to actually ask what's the use case of passing numbers to the `position` shorthand? The function doesn't add any unit to it's result, so why would I send numbers?

[2018-01-17 20:39] bhough commented on #285
Hi @lcsrinaldi, thanks for the question. It allows numbers for two reasons. One is so you can pass `0` as a number instead of a string:

[code]
The second is to make it more friendly for use in React Native which uses unitless values in styling. This saves users from having to pass unitless numbers as strings.

[2018-01-17 22:28] lcsrinaldi commented on #285
Hey @bhough, makes sense! I'll close this then, thanks for your quick answer.

[2018-01-17 22:28] #285 closed

[2018-01-19 15:58] oliverjam opened #286 "font-display in the fontFace helper"
First of all thanks for the great library; it's saved us loads of time.

Would anyone object to including [`font-display`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display) in the `fontFace` helper?

We want to start using it as a progressive enhancement, so happy to put together a PR for this?

While I'm at it would it be worth adding `font-variation-settings` and `font-fe

[2018-01-19 20:29] bhough commented on #286
Thanks @oliverjam, happy to hear you are getting good use out of polished.

Definitely would welcome a PR to enhance `fontFace` with all three!

[2018-01-26 12:23] oliverjam commented on #286
Sorry that took a while but #287 is up now.

I had an issue committing—`lint-staged` would only run once I removed the `--verbose` option from the npm script. I'm not sure if they've removed that option but I kept getting `unknown option '--verbose'`

[2018-01-27 01:20] gary1410 commented on #279
Hmm...I'm not so sure this works.  I just locked plugin-common-js to 8.2.1 and it doesn't work.  I also can't get the external spread operator package to work.

[code]

rollup.config.js

[code]
{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread"
  ]
}
[code]

[2018-02-04 00:57] bhough commented on #279
@gary1410 I cloned a fresh copy of the repo after @stevenbenisek's changes and had no issue building with either `yarn` or `npm`. Did you pull the latest and then delete `npm-modules` before running `install`? Are you doing this with yarn or npm? What errors are you seeing?

[2018-02-04 09:06] bhough commented on #171
@loganpowell as of now though. We are still not sold on adding a module to `polished` that relies on global values/styles. It breaks the paradigm of a component being shippable on it's own. While we understand that is a reality of how things work, it is harder to design for and properly communicate to a user of the library.

[2018-02-04 09:30] #4 closed

[2018-02-04 09:30] #126 closed

[2018-02-04 09:30] #257 closed

[2018-02-04 09:33] #172 closed

[2018-02-04 23:34] mac-s-g opened #292 "ReferenceError: exports is not defined"
relevant dependencies:

- `polished` version: 1.9.1
- `JSS-in_CSS` library and version: styled-components 2.4.0
- Any relevant JS library and version: react 16.2.0

issue:
updating polished from 1.9.0 to 1.9.1 causes the following error at runtime:
[code]
I locked all my dependencies to verify that polished 1.9.0 -> 1.9.1 is causing the issue.

this is preventing my app from running at all.

it lo

[2018-02-04 23:37] mac-s-g commented on #292
likely coming from #288

[2018-02-05 09:18] Andarist commented on #292
Working on the fix.

[2018-02-05 10:01] #292 closed

[2018-02-05 10:47] Andarist opened #294 "Bump versions in pkg.json"
From what I understand you cut new releases directly from CI, but you do not bump version field in pkg.json. It would be nice to have it bumped automatically too, otherwise it leads to confusion that something is off - when inspecting this repo, latest tag on npm etc

[2018-02-08 02:19] bhough commented on #250
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-08 02:19] #250 closed

[2018-02-08 02:20] bhough commented on #229
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-08 02:20] #229 closed

[2018-02-08 02:42] bhough commented on #232
Addressed by 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-08 02:42] #232 closed

[2018-02-08 07:28] bhough commented on #264
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-08 07:28] #264 closed

[2018-02-08 22:49] bhough commented on #256
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-08 22:49] #256 closed

[2018-02-09 14:32] bhough commented on #286
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-09 14:32] #286 closed

[2018-02-16 18:52] bhough commented on #243
Addressed in 2.0: https://github.com/styled-components/polished/milestone/1

[2018-02-16 18:52] #243 closed

[2018-03-07 19:28] stereobooster commented on #171
https://github.com/rafaelrinaldi/responsive-styles

[code]

[2018-03-19 23:01] brianespinosa opened #302 "RFC: Function to return contrast ratio between two colors -> contrastRatio()"
Currently I am not seeing a way to return the contrast ratio between two colors. I could technically use `getLuminance()` to return the two values separately, then subtract to get the difference. It seems like it would be helpful to be able to instead just pass two colors and get the contrast ratio returned.

**Use case:**
If I wanted to check a background color to make sure a foreground text colo

[2018-03-20 14:58] oliverjam commented on #202
Yeah I'm seeing the same error as @laurenskling. The README implies Flow should be supported out of the box (other than ignoring `.*/node_modules/polished/.*`). It seems like Flow isn't picking up any types (using Polished `1.9.1`)

[2018-03-20 16:24] bhough commented on #202
Thanks for the update @oliverjam. This is almost always caused by an ignore rule that is ignoring too much.

[2018-04-05 08:24] okonet opened #306 "Support CSS #rrggbbaa format"
- `polished` version: 1.9.2
- `JSS-in_CSS` library and version: styled-components 3.2.5
- Any relevant JS library and version: React 16.3.0

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

[code]

What you expected to see:

The color should be properly parsed since it's a valid color.

Reproduction:

https://codesandbox.io/s/50mlvjz2l4

[2018-04-05 17:07] bhough commented on #306
Thanks @okonet I will look at possibly getting this into the 2.0 release.

[2018-04-26 20:28] misstricky commented on #180
Hello! I tried the above, and while it works in the browser, when I try to use `.render()` in jest tests on components containing:
```${props => props.color && darken(.1, props.color)}```
I still get the error:
```Couldn't parse the color string. Please provide the color as a string in hex, rgb, rgba, hsl or hsla notation.``` and the test fails with that error. Is there any way around this? Thanks

[2018-04-27 00:00] bhough commented on #180
@misstricky do you have this code somewhere I can look at?

[2018-04-27 12:15] oyvindberg commented on #276
This bit me as well. Possible workaround:
[code]

Any idea where the mismatch comes from? Does this work with flow?

[2018-04-27 14:44] bhough commented on #276
@oyvindberg The typings haven't been removed in the current version. This bug will be addressed in 2.0, but here is the info as to why you are seeing that issue: https://github.com/styled-components/polished/pull/295#issuecomment-364507179

[2018-05-14 08:10] williamli opened #312 "add support for styled-theming"
`polished` functions like `transparentize` crash when it is passed a theme variable from `styled-theming`.

[code]

If using the colour string directly, it will work.

[code]

[2018-05-14 08:27] williamli commented on #312
Instead of doing the polishing inside the component style, it will work if the polishing is done in the theme color assigning step.

[code]

[2018-05-14 08:27] #312 closed

[2018-05-17 10:55] lifeiscontent opened #313 "css triangle optimizations"
- `polished` version: latest

What you are seeing:

in the example

[code]

What you expected to see:

rather than using !important for the borderLeftColor, I think the long hand border properties would be better here, I think we could achieve this by introducing a new helper that splits css values like `100%` and returns either a array or object that gives you the value and the unit. so you can d

[2018-05-18 19:41] bhough commented on #313
@lifeiscontent These certainly could be useful improvements, so would welcome a PR.

Instead of a separate unit parser, I've had a long-standing thought to modify the `stripUnit` helper to have the option to return the striped unit. That may be a good place to start.

[2018-05-19 00:01] lifeiscontent commented on #313
@bhough cool, I'll take a look into `stripUnit` and tell you my suggestions shortly.

[2018-05-19 00:03] lifeiscontent commented on #313
@bhough actually, on second thought, the name `stripUnit` doesn't really imply you'll get a unit back, based off the name it makes me inclined to create another helper, let me know your thoughts.

[2018-05-19 01:46] bhough commented on #313
@lifeiscontent I'd move forward assuming we will use `stripUnit`. I will have to dig it up, but we've had a long discussion about this before. In the end you will recreate a lot of the same functionality in the new version that will be produce the same results it does. We can look at splitting it later once we see what the final approach is.

[2018-05-24 20:20] Sensiblemnd opened #315 "Update the mixing to use normalize.css to 8.0.0"
- `polished` version: 1.9.2

[2018-05-29 16:37] #313 closed

[2018-06-02 01:13] bhough commented on #315
Addressed by #316 and merged into `version-2`.

[2018-06-02 01:13] #315 closed

[2018-06-23 21:55] bhough commented on #306
Addressed by #318 and merged into `version-2`

[2018-06-23 21:55] #306 closed

[2018-06-24 05:58] bhough commented on #129
Addressed by #169 and merged into `version-2`

[2018-06-24 05:58] #129 closed

[2018-06-24 08:43] bhough commented on #276
Addressed by #321 and merged into `version-2`.

[2018-06-24 08:43] #276 closed

[2018-06-24 17:31] #173 closed

[2018-06-25 13:17] bhough commented on #244
@Prinzhorn Already ahead of you! The docs will be updated soon: https://github.com/styled-components/polished/blob/docs-types-review/src/color/mix.js

[2018-06-25 13:23] Prinzhorn commented on #244
@bhough nice 😘

[2018-06-29 11:13] fiznool commented on #257
Was this ever resolved? Struggling to understand how to use `fontFace` with the webpack file-loader.

[2018-06-29 12:35] kgram opened #325 "Currying for `mix` broken by transpilation"
- `polished` version: 1.9.2

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

[code]

What you expected to see:

The mixed color.

Explanation

Babel's handling of the default-value for `weight` causes it to manually assign arguments. The output in `dist/poslished.es.js` becomes:

[code]

Thus, `mix.length` is `0` and currying is broken.

Ideally, thi

[2018-06-29 16:30] bhough commented on #257
@fiznool we have not heard enough noise around this to prioritize the work. We would consider a PR for this addition, but as of now it is not on our radar.

[2018-06-29 16:36] bhough commented on #325
@kgram This is definitely on our radar. We are tracking a similar bug here #244. The fix will likely require some sort of deprecation of the existing API, so we are still sorting that part out.

[2018-06-30 00:43] horaciosystem opened #326 "Change triangle mixin to works with others measurement units"
The **triangle** mixin has pixel unit hardcoded inside the _getBorderWidth_ function, as you can see [here](https://github.com/styled-components/polished/blob/master/src/mixins/triangle.js#L21)
What means that in a project using _rem_ unit the triangle size will not scale in accordance to the rest of the app.

My suggestion is to remove the pixel unit =>
Current
[code]

 To
[code]
Does anyone see

[2018-06-30 18:33] bhough commented on #326
Thank you for the suggestion @horaciosystem. This is already on the way in 2.0: https://github.com/styled-components/polished/commit/2c89e3eba228004e86a06162d097281b4433e846#diff-a1597c288b2bf10e94bdd55e61657af7

[2018-06-30 18:33] #326 closed

[2018-07-01 23:31] bhough commented on #244
Addressed by #327 and merged into `version-2`

[2018-07-01 23:31] #244 closed

[2018-07-02 06:52] kgram commented on #325
Great! How long do you expect it will be until 2.0.0 is released?

[2018-07-02 13:32] bhough commented on #325
@kgram Hoping to get a beta out by the weekend.

[2018-07-04 11:32] caribou-code commented on #223
Is there no progress with this? I recently switched from SCSS where this was core functionality and fundamental to achieving theming, styling consistency and DRY code throughout a web app. I was very surprised to see Polished doesn't already do this.

As a temporary measure, I've implemented a `calculate.js` util in my project to multiply and divide values with units, but this is far from ideal be

[2018-07-04 14:29] caribou-code commented on #270
I've seen a few similar issue tickets and this linked PR all closed without resolution. Why is this?

Being able to perform calculations on values with units is one of the most basic features in SCSS and I don't see the point in extending styled components functionality with Polished unless it has this sort of thing.

[2018-07-04 18:38] bhough commented on #223
@caribou-code There has not. We've had other modules that have garnered more traction that we are about to release in 2.0 We look to upvotes on the module request issues as an indicator of interest, and this has not garnered much. Especially as support for `calc` has gotten better.

That being said we are always open to PRs and seems like you've done some of the work towards a helper, and we'd be

[2018-07-05 08:29] caribou-code commented on #223
@bhough It looks like someone already did a PR a while ago but it didn't get further: [#227](https://github.com/styled-components/polished/pull/277)

To clarify what I meant by DRY, I'm talking about an alternative technique that allows JS to do the maths by storing theme variables as numbers without units. But with this method you have to then apply the unit on every usage, which is not DRY and c

[2018-07-05 10:50] seleckis opened #329 "normalize in TypeScript outputs [object Object]"
As such functions as `injectGlobal` does not work with TypeScript correctly (see #261 ) I had to create a function which executes injectGlobal.
[code]
Unfortunately, `normalize()` outputs `[object Object]` instead of normalize css code:
[code]

[2018-07-06 10:26] RoboQuasar opened #330 "When use ${wordWrap('break-word')}, result includes word-break: break-all;"
- `polished` version:
- `JSS-in_CSS` library and version:
- Any relevant JS library and version:

I want to use polished lib for cross-browser compatibility css `word-wrap` and get unexpected css-property `word-break: break-all`, which work correct, but uncomfortable for most using ways in Chrome (67.0.3396.99)
Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What i am see

[2018-07-06 13:28] bhough commented on #330
Thanks for the question @RoboQuasar. That is on purpose. It handles use cases like: https://stackoverflow.com/questions/1795109/what-is-the-difference-between-word-break-break-all-versus-word-wrap-break/19282567#19282567

[2018-07-06 13:28] #330 closed

[2018-07-12 15:23] tobilen commented on #223
i consider it an elementary feature as well. i've taken the code from my PR and implemented it in our internal tooling library. if there is interest to get this merged in polished, i can reopen the PR?

[2018-07-23 13:48] caribou-code commented on #223
Perhaps worth noting another experience I've had today. I needed to use pythagoras theorem to calculate part of a CSS layout. When using CSS calc you can only use basic operators (+, -, *, /) which means square root is not possible. When working with a number with a unit, this means Polished has no way to handle this, and I can't use CSS calc. Leaves me a bit stuck if I want to write DRY and scala

[2018-07-25 11:04] vhfmag commented on #329
I believe this is not a bug. `injectGlobal` is a [tagged template literal](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals): a function called without parenthesis, with a template literal ``injectGlobal`${normalize()}` ``.

Functions that receive a template literal as a parameter (as in ``globalStyle(`${normalize}`)``) differ from tagged template literals becaus

[2018-07-25 11:15] vhfmag commented on #261
Hello, @mxstbr! While the mentioned styled-components' PR (not accepting object types as interpolation values) was indeed a cause of this issue, it still wasn't solved with its merge. As of now, `injectGlobal` type definitions are:

[code]

`Styles` is the interface that adds support for style objects, and it's not compatible with the return type of most `polished` mixins, like `normalize`, whose

[2018-07-25 11:19] vhfmag commented on #261
Ok, I don't know if I really can open a PR, given that TS's type definitions are derived from Flow's and how little I know about the later. I'll still try, though :)

[2018-07-25 18:02] blicksky opened #332 "Some normalize() properties are not camelCased"
- `polished` version: 1.9.3
- `glamor` version: 2.20.40

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

Warnings are printed to the console due to non-camelCase properties being used:

Warning: Unsupported style property -webkit-text-decoration-skip. Did you mean WebkitTextDecorationSkip?
Warning: Unsupported style property -webkit-appearance. Did y

[2018-07-26 13:42] bhough commented on #329
@seleckis I was able to confirm that @vhfmag's theory is true. The improper usage as a tagged template literal is what is causing your issue.

You should also keep an eye on #331 as that will provide better Flow/Typescript compat with `styled-components`.

[2018-07-26 13:42] #329 closed

[2018-07-26 20:43] seanemmer opened #333 "Method Chaining"
Feature Suggestion (Polished 1.93, Styled-Components 3.3.3)

Introduce ability to chain polished methods.

**Current**
const wrapped = setSaturation(0.5, lighten(0.45, 'red'))

**Proposed**
const chained = polished('red').lighten(0.45).setSaturation(0.5)

Happy to work on a PR if this doesn't already exist in some form and people think it will be useful.

[2018-07-26 21:49] bhough commented on #333
@seanemmer Our preferred method for this is via composition, which all our color functions currently support.

@nikgraf Covers how that all works in this talk: https://www.youtube.com/watch?v=qJgff2spvzM

For your example it would look something like this:

[code]
We made a specific decision to go this route over the model other libraries use that require you to instantiate a color object in order

[2018-07-26 21:49] #333 closed

[2018-07-26 22:20] bhough commented on #332
@blicksky Thanks for catching this. Since `normalize` is getting a decent sized update in 2.0, I fixed it as part of that release with #334.

[2018-07-26 22:20] #332 closed

[2018-07-27 03:16] blicksky commented on #332
Thanks! I noticed that you used a lowercase 'w' in "webkitAppearance" in your changes. I believe that the vendor prefixed properties need to start with an uppercase letter. A quick test produced this warning:

[2018-07-29 18:54] bhough commented on #175
Addressed by #338 and merged into version-2.

[2018-07-29 18:54] #175 closed

[2018-08-14 02:22] jean343 opened #343 "Fail to parse hsl(89.99999999999999,100%,50%)"
- `polished` version: 1.9.3
- `JSS-in_CSS` library and version: none
- Any relevant JS library and version: Node 8

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:
[code]

What you expected to see:
I was expecting decimals in hue to be parsed as numbers. I am passing color strings from another library, and they are in the form: `hsl(90.999999, 100%, 5

[2018-08-15 13:44] maximus-lynn commented on #180
This doesn't work for me... I'm getting a lighten undefined

[2018-08-15 15:17] bhough commented on #180
@maximus-lynn can you provide an example where you are seeing this error?

[2018-08-18 01:04] wongmjane opened #344 "Docs site for v2"
Is there a place to view `version-2` docs other than cloning the repo, checking out the `version-2` branch myself and hosting it locally?

Thanks!

[2018-08-20 22:05] #344 closed

[2018-08-21 15:06] Andarist opened #345 "[proposal] Drop runtime validations in production mode"
This could reduce nicely the production bytes cost of polished because those error message are not that easily compressed.

There are 2 ways of approaching this:
- remove validation altogether in production mode
- remove only error messages in production mode

**Intent to implement**
yes 😉

[2018-08-21 17:16] bhough commented on #345
@Andarist Thanks for raising thing. I definitely have this high on my todo list. I would love to:

a) drastically improve validation and error messaging across the library.
b) remove error messages and replace them with a link to an online version (similar to what React and styled-components implemented).

I'm 100% in support of a PR around this. I'm shooting to ship v2 this week, so I would sugge

[2018-08-22 10:18] Ky6uk opened #348 "Typings are incompatible with styled-components"
- `polished` version: 2.0.0
- `JSS-in_CSS` library and version: styled-components 3.4.4
- TypeScript: 3.0.1

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

Compilation Errors:

[code]

and

`TS2352: Type 'Styles[]' cannot be converted to type 'Styles'.`

---

Not sure this is a `polished` or `styled-components` issue, because supporting `polished` b

[2018-08-22 13:40] bhough commented on #348
@Ky6uk #331 was an attempt to address this, as it has been the case for awhile (#261). We will keep digging in to see if there is a way to address this without having to recast.

[2018-08-22 13:46] bhough commented on #343
@jean343 thanks for the issue. We were able to confirm it and are currently working on a fix now that 2.0 is out.

[2018-08-22 13:54] Ky6uk commented on #348
@bbohen I think this is clear.

### `styles-components`

[code]

### `polished`

[code]

As we can see `styled-components` version of interface doesn't support `Styles[]`.

Adding a ` | Styles[]` to the type definition of `styled-components` fixes this issue.

[2018-08-22 13:56] bhough commented on #348
@Ky6uk yes, but that is a fix out of our control, and we don't know the implications that will have on `styled-components`.

[2018-08-22 13:57] jean343 commented on #343
Thanks!!

[2018-08-22 13:59] Ky6uk commented on #348
@bhough removing the `| Array<Styles>` from `polished` also possible fix. But I am not sure this is idiomatically right.

[2018-08-22 14:56] #343 closed

[2018-08-22 15:00] mxstbr opened #350 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-22 15:25] mxstbr commented on #343
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-22 15:25] #350 closed

[2018-08-22 16:11] #348 closed

[2018-08-22 16:16] mxstbr commented on #348
:tada: This issue has been resolved in version 2.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-24 02:26] bhough opened #354 "V3 Roadmap"
- [x] toColorString performance improvements (likely based on #187).
- [x] update readableColor to return a custom color instead of just black or white.
- [x] color modules safely handle the `transparent` keyword.
- [x] linear gradient mixin.
- [X] modularScale accepts rem for its base value.
- [x] Math helper for doing operations on values with units.
- [x] Improved errors/validation in developme

[2018-08-24 02:36] bhough commented on #302
Added to V3 Roadmap #354

[2018-08-24 02:36] #302 closed

[2018-08-24 02:49] bhough commented on #171
between (https://polished.js.org/docs/#between) and fluidRange ( can now be used to scale `font-size` or any other property using linear interpolation. Either of these should be able to be combined with theming to accomplish most of this functionality now with v2.

[2018-08-24 02:49] #171 closed

[2018-08-24 02:51] bhough commented on #176
Added to V3 Roadmap (#354)

[2018-08-24 02:51] #176 closed

[2018-08-24 02:51] bhough commented on #202
Flow is now working out of the box with the package without the need for third party libdefs.

[2018-08-24 02:51] #202 closed

[2018-08-24 02:56] bhough commented on #188
This has been added to the V3 Roadmap (#354).

[2018-08-24 02:56] #188 closed

[2018-08-24 03:03] bhough commented on #284
This has been added to the V3 Roadmap (#354).

[2018-08-24 03:03] #284 closed

[2018-08-24 03:05] bhough commented on #143
This has been open for over a year with no real interest.

[2018-08-24 03:05] #143 closed

[2018-08-24 03:08] bhough commented on #294
Added to V3 Roadmap (#354).

[2018-08-24 03:08] #294 closed

[2018-08-24 03:12] bhough opened #355 "[Feature Request] Retina Border Mixin"
Add a mixin that generates the CSS for a retina friendly border based on the code in #335.

[2018-08-24 03:25] bhough commented on #212
Upon reviewing this, we are going to elect not to put this in polished. Given it requires knowledge of the surrounding DOM to make calculations, that is not something we want to have polished concerned with.

[2018-08-24 03:25] #212 closed

[2018-08-24 03:31] bhough commented on #223
Added to V3 Roadmap (#354).

[2018-08-24 03:31] #223 closed

[2018-08-24 07:00] tobilen commented on #223
@bhough i've reopened my PR ( https://github.com/styled-components/polished/pull/277 ) and will update it either today or over the weekend )

[2018-08-24 18:59] TrySound commented on #354
`sideEffects` is not used by rollup. Pure annotations are used by uglify.

[2018-08-24 19:36] brianespinosa commented on #302
Thanks @bhough 👍

[2018-08-26 12:18] TrySound opened #360 "Ellipsis doesn't work inside display: flex"
- `polished` version: 2.0.2
- `JSS-in_CSS` library and version: emotion 9.2.6
- Any relevant JS library and version: React 16.4.2

New version of this mixin broke almost all usages.

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

![image](https://user-images.githubusercontent.com/5635476/44628132-0cf3b000-a943-11e8-85ff-046f5e7e020c.png)

Reproducti

[2018-08-26 15:51] #360 closed

[2018-08-26 15:56] mxstbr commented on #360
:tada: This issue has been resolved in version 2.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-05 18:02] bhough opened #364 "Update Docs To Reflect Styled-Components Global Changes"
In styled-components v4, `injectGlobal` has been replaced with `createGlobalStyle`. We need to update references to that functionality in our doc examples.

[2018-09-08 09:21] caribou-code opened #365 "modularScale accepts em but not rem"
When using the modularScale function it only seems to accept an em value for the base parameter. It seems to be good practice to use rem figures for typography to keep everything relative to a root figure.

Consider this (very contrived) example:

[code]

I wouldn't do something as simple as the above in reality but you get the picture. The scenario has come up for me before.

I would want all my

[2018-09-08 21:32] bhough commented on #365
Added to potential V3 Roadmap #354

[2018-09-08 21:32] #365 closed

[2018-09-11 09:09] arorayash opened #366 "[Feature Request] Add function to adjust `luminance` of a color"
The source color can be interpolated with black or white until the correct luminance is found.

### Proposed API -
[code]

[2018-09-20 10:49] Gywem opened #368 "Support of 4-digit hex color format in helpers"
Hello everyone!

I'm using many of the style helpers that offers this library in a CSS-IN-JSS context. The thing is that I have a color picker that generates color strings and the output is used for the polished helpers. Sometimes the user produces 4-digit in hex format. But the helpers of this library don't support that, or at least `darken` which is the one I tested. It throws the next error:

[

[2018-09-20 11:52] byzg opened #369 "Carry with props"
- `polished` version: 2.0.3
- `JSS-in_CSS` library and version:  styled-components 3.3.2
- Any relevant JS library and version:  React 15.6.1

How can I use
[code]
except of
[code]
?
I know, polished has carry but it does not help here

[2018-09-20 23:35] bhough commented on #368
Thanks for reporting this @Gywem. All the color helpers use the same module to process color values and we did not add 4 digit shorthand support when we added support for 8-Digit, but this should be relatively trivial to implement in a future release.

[2018-09-21 00:08] bhough commented on #369
@byzg It is hard to tell from this example what exactly you are trying to accomplish with the second example. A quick look at styled-tools doesn't show me anything where they support `theme` being called with partial application, which it appears your code is trying to do).

Using our currying support would look more like this (though unnecessary in this case):

[code]

[2018-09-21 14:39] #368 closed

[2018-09-22 07:45] simonkberg commented on #369
Use `withProp` instead:
[code]

[2018-09-24 23:32] bhough commented on #369
Closing this with @simonkberg's answer. Let us know if we can help in anyway @byzg.

[2018-09-24 23:32] #369 closed

[2018-09-25 16:00] byzg commented on #369
@bhough I mean I would like to know if I can use only `theme` with `transparentize` (and other helpers) without `props` and `withProp`.
`theme` return a function with `props` as argument, so IMHO it would be very convenient to allow pass the second argument of `transparentize` as a function, somthing like this:

[code]

PS: Unfortunately `color: ${transparentize(0.79)(theme('colors.blackMarlin'))}

[2018-09-25 19:53] bhough commented on #369
@byzg Right now we do not support evaluating functions passed as arguments into any of color modules. We would need to know the signature of the passed function in order to call it correctly, and we do not want to tie the implementation to a specific library (such as styled-tools).

[2018-09-25 19:58] byzg commented on #369
Ok, I see. Thanks

[2018-09-26 21:50] ivorpad opened #373 "Interpolation within interpolation"
- `polished` version: 2.1.1
- `JSS-in_CSS` library and version: gatsby-plugin-styled-components 3.0.0

### Mixin/Helper/Shorthand you were using and how you were using it:

[code]

### What you are seeing:

`Uncaught Error: Couldn't parse the color string. Please provide the color as a string in hex, rgb, rgba, hsl or hsla notation.`

### What you expected to see:

I expect the color string to be

[2018-09-27 05:16] lifeiscontent opened #374 "create-react-app"
- `polished` version: polished@2.1.1
- `JSS-in_CSS` library and version: emotion@9.2.10
- Any relevant JS library and version: react@16.5.2

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

when using create-react-app@next I'm seeing the following error:

[code]

What you expected to see:

polished to work

Reproduction:

[2018-09-28 01:53] lifeiscontent commented on #374
@bhough everything works fine in 2.0.3 I'm using create-react-app@latest.

[2018-09-28 02:31] bhough commented on #374
Confirmed the issue:
2.0.3 works fine with cra@latest.
2.1.1 works fine with cra@latest.
2.0.3 works fine with cra@next
2.1.1 works fine with cra@next pre-webpack 4/babel 7 merge
2.1.1 breaks with cra@next post-webpack 4/babel 7 merge

My guess is this is our move to Babel 7 conflicting with their move to it in some way. @TrySound any thoughts here?

I will take a look this weekend and file a bug

[2018-09-28 02:43] bhough commented on #374
@lifeiscontent update on this:

`yarn upgrade react-scripts@2.0.0-next.a671462c' which was the latest release until yesterday I get the error you filed.

`yarn upgrade react-scripts@2.0.0-next` which was yesterday's release I no longer get the error. Can you try this and see if it fixes it for you.

https://github.com/facebook/create-react-app/issues/5103

[2018-09-28 02:47] lifeiscontent commented on #374
@bhough seems to work! thanks! 👍

[2018-09-28 02:47] bhough commented on #374
@lifeiscontent great, glad it was a simple fix. Thanks for reaching out on it.

[2018-09-28 02:47] #374 closed

[2018-09-28 03:15] bhough commented on #373
@ivorpad It is just a formatting issue:

`const borderBottom = css`
    border-bottom: 2px solid ${props => lighten(0.3, props.theme.main.blue)};
``
https://codesandbox.io/s/64xvkrowvk

[2018-09-28 03:15] #373 closed

[2018-10-01 12:47] ChrisCallanJr commented on #364
made this change on PR [#375](https://github.com/styled-components/polished/pull/375)

[2018-10-07 09:03] franky47 opened #376 "[Feature Request] Convert rem|em values to pixel values"
I have a use case for a function that transform relative (em, rem) units into pixel values. Basically the opposite of what the `em` and `rem` functions do.

The reason behind this is that I use rem units throughout my styles for consistent UI component design, and I came across an issue where SVG elements sized with rem units don't work across all browsers.

As an example, Chrome renders ok with r

[2018-10-17 23:46] #364 closed

[2018-10-21 13:05] mxstbr commented on #364
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-31 11:07] ConnorTCM opened #380 "rem function base value not working when passed via props.theme"
- `polished` version:
- `JSS-in_CSS` library and version:
- Any relevant JS library and version:

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

`font-size: NaNrem;`

Using `styled-components` `ThemeProvider`. I can confirm that accessing the theme in my styled components is working fine. If I change to `font-size: ${props => props.theme.baseFontSiz

[2018-11-02 16:22] JuHwon opened #381 "flow version >0.85 incompatiblity"
- `polished` version: 2.3.0
- `JSS-in_CSS` library and version: styled-components 4.0.3
- Any relevant JS library and version: flow-bin 0.85

What you are seeing:

lots of flow error messages like this one:
```Missing type annotation for `A`. `A` is a type parameter declared in function type [1] and was implicitly instantiated at call of `curry` [2]. (References: [1] [2])```

There is also a flow

[2018-11-12 09:44] buddikastay commented on #180
Hi,

Im calling a function to get the button face/type. So relevant color will be called on hover and i want to darken That-returned color.

i'm getting 'Passed an incorrect argument to a color function, please pass a string representation of a color.'

im using react-emotion in my app.

Please help to find out the issue,

style.js

function getButtonTextColor({face, status, theme}) {
    let butt

[2018-11-12 14:09] bhough commented on #180
@buddikastay you aren't actually calling the `getButtonTextColor` function. `polished` will not evaluate functions that it is passed, so you need to evaluate it when you pass it:

`color: ${darken(0.1, getButtonTextColor(...))};`

[2018-11-13 04:36] buddikastay commented on #180
@bhough : sorted it out. This worked.

color: ${props => darken(0.4, getButtonTextColor(props))};

Thanks a lot for your valuable time. Cheers!

[2018-11-14 12:43] fattydevelop opened #386 "does polished support server side render ?"
Sorry this is not a bug report.  Here's my question.

Styled-components use babel-plugin-styled-components to support SSR.  What should I do to support SSR using polished directly

[2018-11-15 17:00] bhough commented on #386
@fattydevelop If the CSS-in-JS library you use supports SSR then using polished inside of it will work as well. All polished modules will render server-side similar to how normal functions inside of your CSS-in-JS do.

[2018-11-15 17:00] #386 closed

[2018-12-31 21:41] thefrontendwizard opened #390 "Docks sidebar responsiveness"
Between 641px and 831px of viewport width, the sidebar shows on top of the content. It should either be visible with the green background or not at all.

![image](https://user-images.githubusercontent.com/1124448/50566384-49d01900-0d20-11e9-9945-d9d3c16cdf84.png)

[2018-12-31 21:41] thefrontendwizard commented on #390
I'm submitting a PR to fix this issue.

[2019-01-01 16:38] #390 closed

[2019-01-08 19:24] alocke12992 commented on #104
@nikgraf , @bhough  Just wanted to say thanks for getting this feature added in! You guys do some great work.  😃👏

[2019-01-09 01:32] bhough commented on #390
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-09 01:32] bhough commented on #381
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-15 21:35] souporserious opened #394 "[Feature Request] Additional color functions"
Hello 👋,

I'd like to discuss the possibility of adding more helper functions for color if they seem like a good fit. These are all heavily inspired by the [Color](https://github.com/Qix-/color) library, as well as [Colorable](https://github.com/jxnblk/colorable) by Brent Jackson.

### getColorContrast

Follows [W3's recommended ratio](http://www.w3.org/TR/WCAG20/#contrast-ratiodef) to calculate c

[2019-01-16 16:42] donifer opened #395 "Question: How to: rem addition"
- `polished` version: 2.3.3
- `JSS-in_CSS` library and version: styled-components 4.1.3
- Any relevant JS library and version: React 16

Mixin/Helper/Shorthand you were using and how you were using it:

[code]
Question:
Is there a way to have the addition of `small + big` now that they are `rem`s?

I can always create a function that removes the `rem` converts to `number`, add them together and co

[2019-01-17 12:46] bhough commented on #395
@donifer We're currently working on a set of math modules that will come out with 3.0.

How you're doing it now is the best way, but we do provide helpers such as https://polished.js.org/docs/#getvalueandunit and https://polished.js.org/docs/#stripunit that can aid in this.

[2019-01-17 12:46] #395 closed

[2019-01-25 14:03] mikeheddes opened #396 "Polished is not being tree-shaken"
- `polished` version: 2.3.3
- `styled-components` version: 4.1.3
- `react` version: 16.7.0
- `create-react-app` version: 2.1.1

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

| Name                       | Size    |
|----------------------------|---------|
| polished.es.js file        | 94 KB   |
| polished.es.js bundle part | 92.6 KB |

File:
<img

[2019-01-25 14:06] mikeheddes commented on #396
I had a lot of trouble to get tree-shaking to work on a react component library I was making for a company. I made an article to document my findings, you can read it at: https://mikeheddes.nl/articles/tree-shaking-nodejs-library. I am pretty sure the same steps will make this library tree-shakable as well. I will test it now.

[2019-01-25 14:55] mikeheddes commented on #396
After some research I found that I was wrong. The library is already tree-shakable. I was looking at the stats size but I should be looking at the parsed size. Here are two images to show that tree-shaking is already working. The first image shows that when using the minified UMD build the parsed size is 28.26 KB and the second image shows that when using the ES6 build the parsed size is 9.36 KB w

[2019-01-25 14:55] #396 closed

[2019-01-30 05:11] bhough opened #397 "Polished Roadmap"
# v4.0.0

## New Modules
- [x] **Important Helper** - Add a helper for adding important flags to existing modules.
- [ ] **CSS Logical Properties** - Add a mixin for leveraging logical properties with proper fallbacks.

## Module Improvements
- [x] **`ellipsis`** - add support for multiline ellipsis.
- [x] **`fontFace`** - add local font file checking to avoid unnecessarily downloading remote font

[2019-02-02 18:20] bhough commented on #396
@mikeheddes thanks Mike! How this shows up in the bundle visualizer even throws me off (this changed recently ).

[2019-02-06 03:47] hbharding opened #399 "[Feature Request] More Triangle Directions"
Hey there!

First off, thanks for making this awesome utility! I'm wondering if it would be possible to add support for more triangle directions? Currently, `triangle` only supports `top` `bottom` `left` and `right` directions. For my use case, I'm looking for a `bottomLeft` direction, but it doesn't exist.

I've used this CSS triangle generator for past projects http://apps.eky.hk/css-triangle-ge

[2019-02-07 11:46] brunolemos commented on #354
Maybe re-add the contrast ratio function? I don't see it on the list.

#206 #302 #305 #394

[2019-02-07 12:08] bhough commented on #354
@brunolemos https://github.com/styled-components/polished/blob/version-3/src/color/readableColor.js

[2019-02-07 12:20] brunolemos commented on #354
Hm, that's more like a sugar for one specific use case, but it's not really a `getContrastRatio` function.

There seems to be a standard for this, the ratio is a number and there's level AA or AAA.
Check https://contrast-ratio.com/

The chrome element style tool works the same way:

![image](https://user-images.githubusercontent.com/619186/52411084-a19d3500-2ac1-11e9-928c-1f3f6f5839a5.png)

https:

[2019-02-07 13:00] bhough commented on #354
Understand the use case @brunolemos. Mostly pointing out that most of the issues/PRs you pointed to were resolved by the modifications to `readableColor`. `getContrast` was not something we have ever had and would be a new feature. Happy to accept it as a feature request.

[2019-02-07 13:31] selrond opened #400 "SyntaxError: invalid regexp group in Firefox"
- `polished` version: ^3.0.0-beta.1

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

White screen, console error:
`SyntaxError: invalid regexp group`

Reproduction: (Works in Chrome, does not in Firefox <= 65.0)

https://codesandbox.io/s/k2no733zyo?expanddevtools=1

I believe this is because of negative lookbehind in https://github.com/styled-compone

[2019-02-07 14:00] selrond commented on #400
Let me know if there's something I can do to fix it

[2019-02-07 14:50] bhough commented on #400
@selrond Thanks for catching this. I will give it a look tonight, but likely we will need to modify the code to replace the negative lookbehind to use a negative lookahead instead.

[2019-02-07 14:53] brunolemos commented on #354
Ah ok. Seems to be #394 then.

[2019-02-07 16:06] bhough commented on #400
@selrond Should be good now with beta.2

https://codesandbox.io/s/8l67xqmk20

[2019-02-07 16:06] #400 closed

[2019-02-07 16:07] selrond commented on #400
@bhough works, thanks!

[2019-02-11 01:39] markoradak opened #402 "[Feature Request] Alias timing functions with 'ease' and allow percentage based easing"
It might be good to have `easeIn()`, `easeOut()` and `easeInOut()` functions that would work pretty much the same as a `timingFunctions()`, but would allow us to write something like: `easeOut('expo')` instead of `transitionFunctions('easeOutExpo')`, since no other timing functions are available or make sense. It is quite a bit shorter, and we can leave current timing functions implementation alon

[2019-02-14 13:58] Slashgear opened #404 "[Feature Request] common easing functions"
Hey there!

Easing functions used in transition are very limited in CSS (ease, ease-in, ease-out, ease-in-out).

A common extended list of easing function are classified here https://easings.net/
It would be very useful to have those values defined in polished.

I could do that 😉

[2019-02-16 19:12] #354 closed

[2019-02-20 19:44] wtgtybhertgeghgtwtg commented on #397
In regards to the third bullet point (and please let me know if I should raise this in another issue instead), would that include integrating it as a macro, as `styled-components` does?

[2019-02-21 09:33] caribou-code opened #405 "Math function not accepting time unit calculation"
- `polished` version: 3.0.0
- `JSS-in_CSS` library and version: styled-components 4.1.3
- Any relevant JS library and version: React 16.8.2

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

[code]

What you expected to see:

The function should output a string of `500ms` in this case. Instead it throws an error and completely crashes my app. If I swit

[2019-02-26 09:15] levrik opened #406 "[Question] Tree shaking config with Rollup"
- `polished` version: 3.0.0
- `rollup` version: 1.2.3

As advised in the README I'm importing the mixin like this:

[code]

I would expect to see `transparentize` and it's dependencies in the bundle output only.
But still I see other mixins in the output.

For example:

[code]

My rollup config:

[code]

[2019-02-26 18:10] bhough commented on #406
@levrik Are you checking the production-optimized bundle? That output looks like unoptimized code and wouldn't be tree-shaken.

[2019-02-27 10:06] levrik commented on #406
@bhough It's a library. So no production-optimized code yet. But I don't want to include unnecessary stuff in the library itself and, as far as I understand, does Rollup tree-shake automatically. At least the default for the configuration option is `true` according to their documentation.

[2019-02-27 20:44] goldsziggy opened #407 "Polished math function breaks IE11 due to Object.values usage"
- `polished` version: 3.0.0
- `JSS-in_CSS` library and version: styled-components@4.1.3
- Any relevant JS library and version: react@16.8.0

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

In the console in an IE11 browser you will see the error:
`object doesn't support property or method 'values'`

Causing the page to break and simple render a white

[2019-02-28 09:14] badeball opened #408 "Is `babel-plugin-preval` necessary as a dependency?"
Can it not rather just be a development dependency?

[2019-03-01 00:57] Arrow7000 opened #410 "TypeScript cannot find module "polished""
- `polished` version: 3.0.0
- `JSS-in_CSS` library and version: styled-components 4.1.3
- Any relevant JS library and version: React 16.8.2, TypeScript 3.3.3

I am simply trying to import a function from the module but TS can't find the module.

[code]

What you are seeing:

![image](https://user-images.githubusercontent.com/13225609/53609013-daaa6000-3bbc-11e9-85fc-9162be59df59.png)

When using P

[2019-03-01 04:35] bhough commented on #410
@Arrow7000 I don't seem to have any issues with it:

![image](https://cdn-std.dprcdn.net/files/acc_184716/a2tMiB)

Using all the same versions you described. Here is my `tsconfig.json`

[code]

[2019-03-01 05:15] #405 closed

[2019-03-01 05:16] bhough commented on #407
Closed by #411

[2019-03-01 05:16] #407 closed

[2019-03-01 10:21] Arrow7000 commented on #410
@bhough it looks like adding `"moduleResolution": "node"` has fixed it. I thought this was the default but I also don't really understand what it does.

Either way I think it would be a good idea to specify in the readme that this setting is required.

[2019-03-02 17:39] bhough commented on #410
@Arrow7000 It changes what resolution algorithm TS uses when resolving imports. Oversimplification is that `classic` searches up the tree from where the file is imported while `node` mimics the Node resolution algorithm, which includes checking in `node_modules`. You can read more about it on the [TypeScript site](https://www.typescriptlang.org/docs/handbook/module-resolution.html).

While `classi

[2019-03-02 17:39] #410 closed

[2019-03-02 17:40] bhough commented on #408
Thanks for the question @badeball. You're right, it can be run as a devDependency. This has been updated in [3.0.3](https://github.com/styled-components/polished/releases/tag/v3.0.3).

[2019-03-02 17:40] #408 closed

[2019-03-02 21:16] Arrow7000 commented on #410
Thanks @bhough!

[2019-03-11 11:10] bhough commented on #397
@wtgtybhertgeghgtwtg It would be a separate ask, but certainly something we'd be open to doing.

[2019-03-12 23:31] lifeiscontent opened #415 "update to borderRadius API"
I'd like to implement a short hand that represents more closely to a CSS API.

e.g. instead of specifying a side, it would just map the values as expected.

https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius the short hand spec is as follows

here you don't have to specify a side.

[2019-03-15 03:03] bhough commented on #415
@lifeiscontent Certainly open to adding an alternative API as a starting point. Our policy is at least one major version's worth of notice before deprecating or introducing an API change, so we would need to keep the existing API in place as well.

[2019-03-15 20:34] lifeiscontent commented on #415
@bhough cool, for the values that can be a group of 2 e.g. `1em/5em` I'm thinking we could do something like `[em(1),em(5)]` what do you think?

[2019-03-19 10:15] ischyron opened #416 "[Feature Request] Support for base64 font src"
- `polished` version: "^2.0.3",
-  `styled-components` version: "^4.0.2",

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:
.woff applied to end of url() making it invalid.
and no format hint `format("woff")`
[code]

What you expected to see:
[code]
expect to see the base64 of the file inlined in url as base64.
OR
If the consumer supply the data uri ?

[2019-03-19 22:29] lifeiscontent opened #417 "create simple join function for consuming values"
what do you guys think about adding this as a simple helper for dealing with multiple transforms from polished?

[code]

the implementation is stupid, just `const join = (...values) => values.join(' ');`

but it would be nice to just pull that out from the polished lib to compose all the transforms into a string.

[2019-03-19 22:47] #417 closed

[2019-03-20 11:26] giraffesyo opened #418 "Reference to non-existant documentation"
When you get an error a link is provided to documentation that does not exist. https://github.com/styled-components/polished/blob/master/src/error/errors.md

This happens here in the code:

https://github.com/styled-components/polished/blob/master/src/internalHelpers/_errors.js#L50

[2019-03-22 01:23] #418 closed

[2019-03-22 01:28] brunolemos opened #420 "Get full 6-digit HEX instead of 3-digit short version"
### Current behavior

`polished.lighten(0.95, '#242B38')` -> `'#fff'`

### Expected behavior

`polished.lighten(0.95, '#242B38')` -> `'#FFFFFF'`

or something like `toFullRgb('#fff') -> '#FFFFFF'`

or simply stop calling `reduceHexValue` internally.

### Why

Sometimes I have issues with Android libraries that seems to only support the 6-digit version and with uppercase characters.

![image](https

[2019-03-22 21:39] bhough commented on #420
@brunolemos we are unlikely to change this, unfortunately. In 99% of use cases we want the smallest possible output from color functions (which often can be a 3-digit hex). Doubling the size of the output of our color methods to serve a few Android libraries isn't something we want to do, given that this is an edge case.

We would suggest filing an issue with the library(ies) that don't support it

[2019-03-23 03:59] brunolemos commented on #420
Makes sense.

I have disabled your `reduceHexValue` function for now.
[code]

[2019-03-23 03:59] #420 closed

[2019-03-23 21:07] bhough commented on #416
@ischyron This as been added to `fontFace` in [3.1.0](https://github.com/styled-components/polished/releases/tag/v3.1.0).

[2019-03-23 21:07] #416 closed

[2019-03-24 05:16] bhough commented on #209
Closing due to lack of interest.

[2019-03-24 05:16] #209 closed

[2019-03-25 02:16] bhough commented on #399
@hbharding managed to find a way to implement this and still reduce the overall size of `triangle`(#422). I would look for it to land as part of 3.2 in the coming weeks.

[2019-03-25 11:41] AWR14 commented on #171
@bhough came across this when wanting to the mixin in this article https://css-tricks.com/snippets/css/fluid-typography/ and use it in styled-components.

I've tried both between and fluidrange, seem to need different values but both work fine. Was just wondering which one is recommended over the other?

[2019-03-25 12:11] bhough commented on #171
@AWR14 it depends on your surrounding code. The only real difference between the two are the media query constraints. In most cases, you will want `fluidRange` as it includes the "stops" at either end of the range. `between` returns just the linear interpolation for the value for cases in which you are handling the media query separately.

[2019-03-25 12:40] AWR14 commented on #171
@bhough Thanks, i'm going with fluidRange based on your answer. I'm new to styled components and moving over from SCSS, is this the recommended way of adding SCSS Mixin style functions?

[2019-03-25 13:01] bhough commented on #171
@AWR14 generally speaking, yes we created these "officially" to ease the transition from SCSS to styled-components.

[2019-03-25 13:20] AWR14 commented on #171
@bhough Thanks. does it only work with px units? i've set my base font to 10px {font-size: 62.5%;) but gives weird results when using fluidRange

`${fluidRange(
     {
       prop: 'font-size',
       fromSize: '2rem',
       toSize: '10rem',
     }
   )};`

[2019-03-25 14:44] bhough commented on #171
@AWR14 What results are you seeing?

[2019-03-25 18:39] emattias opened #423 "[Feature Request] Helper to create sequential/staggered transitions"
It would be nice to have a helper to create sequential transition string. So basically like `transitions` but it sets the delay of transitions so that they start one after another.

I'm thinking that the api might look something like:

[code]

which would be the same as writing:

[code]

(so basically it takes care of setting the `transition-delay` property)

With this you would be able to do stuf

[2019-03-25 23:09] AWR14 commented on #171
@bhough it appears to not be as smooth when using rem, seems to jump in size more.

[code]

[code]

i am doing this to set the default to 10px

[code]

[2019-03-30 17:40] bhough commented on #399
Added in 3.2.0

[2019-03-30 17:40] #399 closed

[2019-04-10 19:24] jeremy-coleman opened #425 "documentation definitions"
It would be awesome if the docs had helper definitions , for instance:

[code]

to..

[code]

I am willing to work on it if a PR would be accepted. Initial thoughts would be to just have a 'verbose' version of the docs for noobs like me.

[2019-04-10 21:00] GrzegorzWidla commented on #404
@Slashgear I'm not sure if you're unaware of this feature already being there if I'm missing something.

`polished` exports function called `timingFunctions`. It can be used as such:

[code]

Or combined with another function, `transitions`, from `polished`:

[code]

Is that what you're looking for or something more?

[2019-04-22 14:49] ervasive opened #429 "modularScale throws an error if its second argument is a number"
The [documentation](https://polished.js.org/docs/#modularscale) states that the second parameter to the `modularScale` can be either a `number` or `string`, but when I try to provide a unitless number it throws an error.

- `polished` version: 3.2.0

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

[code]

What you expected to see:

1.9994999999999998

[2019-04-24 15:32] sgenoud opened #430 "Triangle enhancements break `inherit` as a border color"
- `polished` version: 3.2.0

Mixin/Helper/Shorthand you were using and how you were using it:

[code]

What you are seeing:

A black box

What you expected to see:

A colored triangle

Reproduction:

 https://codepen.io/anon/pen/vMVqyM

It seems that browsers (tested on Firefox and Chrome) do not support the border color inherit in the form

[code]
but do if they are declared by side.

I would pro

[2019-04-26 11:53] bhough commented on #429
Thanks @ervasive

We're working on a re-write of `modularScale` that should be out soon that will address this problem and free it from its current `em/rem` limitation.

[2019-04-26 11:57] bhough commented on #425
@jeremy-coleman We're always happy to have more/better documentation. We would gladly accept a PR for this.

[2019-04-30 22:15] oliviertassinari commented on #397
Bundle size would be great. We have private color helpers on Material-UI side. People ask us to expose them. I was curious to see if we could drop them for polished: https://github.com/mui-org/material-ui/pull/15540.

[2019-05-03 00:36] bhough commented on #397
@oliviertassinari Reach out on that PR. Would love to work with you to allow you to use polished for this, especially if it is just a matter of working on bundle size.

[2019-05-04 19:51] bhough commented on #406
Closing this. Have been unable to recreate in product and it is not expected to be tree-shaken in development mode.

[2019-05-04 19:51] #406 closed

[2019-05-05 15:39] bhough commented on #430
@sgenoud We will have to chew on this. It is a more than negligible increase to bundle size when just using triangle (it actually brings 2 more dependencies on board) and will be more bloated than the original due to the addition of more directions. It also bloats the final CSS for 99% of the use cases.

We will revisit this in the near future to see if we can come up with roughly size-neutral way

[2019-05-05 17:07] bhough commented on #429
Addressed in 3.3.0

[2019-05-05 17:07] #429 closed

[2019-05-05 21:01] bhough commented on #394
@souporserious We are looking to implement at least a portion of this into polished 3.4.x. (likely the first two suggestions) If you are still interested, we'd love to put a PR together.

[2019-05-06 20:03] souporserious commented on #394
Yeah, definitely! I'll start working on a PR. Would you like them as separate PRs or is grouped ok?

[2019-05-07 01:33] bhough commented on #394
@souporserious As a single PR is just fine.

[2019-05-08 06:24] sgenoud commented on #430
I have made an attempt at fixing the issue without changing much of your code. I have done some limited testing and it works as expected. Note that it relies on the order of the keys in the object  (I am not sure this is an issue for you).

[2019-05-09 05:00] souporserious commented on #394
Added a PR that adds `getColorContrast` and `getColorContrastScores`. I tried to follow the code style and tests as much as possible. Please let me know if there is anything you'd like me to change and I'll get it updated. Excited to get these added! Thanks!

[2019-05-12 20:43] DavidDeprost opened #437 "adjustHue bug"
I've recently discovered Polished, and just love how elegant it is.
However, I've run into a bug in `adjustHue`, which I reproduced in [this codepen](https://codepen.io/DavidDeprost/pen/BeoMGJ).
I really love how well-organised and accessible the Polished codebase is, so I'll try submit a PR later.

- `polished` version: 3.3.0
- `JSS-in_CSS` library and version: styled-components 4.2.0
- Any relev

[2019-05-13 19:23] pauldariye commented on #44
hey, @nikgraf + @bhough, thanks for `polished`! @nikgraf, I'm looking to better understand color theory. Are you able to share some resources that were most helpful to you?

[2019-05-15 18:18] DavidDeprost commented on #437
@bhough Regarding the `unconfirmed bug` label:
you might've missed it in the issue, but I actually reproduced this bug in a codepen:
https://codepen.io/DavidDeprost/pen/BeoMGJ

[2019-05-16 12:37] bhough commented on #437
@DavidDeprost we give every report that label once we see it. Just means we haven't had a chance to even look at it (including any codepens and such).

[2019-05-16 18:47] DavidDeprost commented on #437
Ah ok, my bad. No hurry ;)

[2019-05-18 20:55] #437 closed

[2019-05-18 21:00] bhough commented on #437
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/polished)
- [GitHub release](https://github.com/styled-components/polished/releases/tag/v3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-25 19:35] #394 closed

[2019-05-26 21:14] zslabs opened #441 "[Feature Request] Easing gradients"
👋 Hi all! I've been a big fan of polished; especially coming from the Sass/PostCSS world. I'm working on a project with Emotion, and am missing a few common PostCSS plugins I used to use; one of them being https://github.com/larsenwork/postcss-easing-gradients

Any thoughts on adding something like that to polished? Thanks!

[2019-05-29 08:05] stereobooster opened #442 "Not possible to import ES6 module directly in the browser"
- `polished` version: 3.4.0
- `JSS-in_CSS` library and version: N/A
- Any relevant JS library and version: N/A

Mixin/Helper/Shorthand you were using and how you were using it: (in Chrome devtools)

[code]

What you are seeing:

[code]

What you expected to see:

polished is self contained library without external dependencies, so it should be possible to load it directly in the browser.

Reproduc

[2019-05-29 18:22] bhough commented on #442
@stereobooster Haven't gotten to look at this closely yet, but we technically have an external dependency with @babel/runtime which is likely where that error is coming from.

[2019-05-29 18:27] stereobooster commented on #442
But do I need `@babel/runtime` in the [browser which supports ES6 modules](https://caniuse.com/#search=es6)? Which features does it use that evergreen browsers don't support?